option 1

getting the data. analyze diabetes data ..diff states, dif ages, pick a feature( a column to compair) two states , two zip code,... any two group descriptive statistics cleaning one or more visualization brief conclusion statement. health care industry is very codified. The coding then comes into play with this data set....need a data dictionary. renaming some columns that actual humans understand.

option 2

he didnt give the data... you have to get it yourself. figure out a way to import it... easiest is to download to your desktop. use read_csv..use the web link.... drive... who knows

make sure you look at your bias and the datas bias and dictate it in your summary. check out plotly can create interactive visualizations and cufflinks

will use seaborn can export visualizations just using code geopandas..location data... uber lyft... all use the geopandas library. SEABORN lecture 7

In [4]:
# coding: utf-8

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#https://data.cityofnewyork.us/api/odata/v4/h9gi-nx95

In [6]:
# # Function to load the complete dataset and perform the data manipulations in-house
# def load_data_complete():
#     cur_dir = os.path.dirname()

In [9]:
# Read the csv
mvc_c = pd.read_csv('/content/drive/MyDrive/PredictiveAnalytics/101/data/Motor_Vehicle_Collisions_-_Crashes.csv', na_values = ['NA', '?'], delim_whitespace=True)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
mvc_c.shape

(1956974, 64)

In [13]:
mvc_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956974 entries, 0 to 1956973
Data columns (total 64 columns):
 #   Column                               Dtype
---  ------                               -----
 0   CRASH                                object
 1   DATE,CRASH                           object
 2   TIME,BOROUGH,ZIP                     object
 3   CODE,LATITUDE,LONGITUDE,LOCATION,ON  object
 4   STREET                               object
 5   NAME,CROSS                           object
 6   STREET.1                             object
 7   NAME,OFF                             object
 8   STREET.2                             object
 9   NAME,NUMBER                          object
 10  OF                                   object
 11  PERSONS                              object
 12  INJURED,NUMBER                       object
 13  OF.1                                 object
 14  PERSONS.1                            object
 15  KILLED,NUMBER                        object
 16  OF.2                                 object
 17  PEDESTRIANS                          object
 18  INJURED,NUMBER.1                     object
 19  OF.3                                 object
 20  PEDESTRIANS.1                        object
 21  KILLED,NUMBER.1                      object
 22  OF.4                                 object
 23  CYCLIST                              object
 24  INJURED,NUMBER.2                     object
 25  OF.5                                 object
 26  CYCLIST.1                            object
 27  KILLED,NUMBER.2                      object
 28  OF.6                                 object
 29  MOTORIST                             object
 30  INJURED,NUMBER.3                     object
 31  OF.7                                 object
 32  MOTORIST.1                           object
 33  KILLED,CONTRIBUTING                  object
 34  FACTOR                               object
 35  VEHICLE                              float64
 36  1,CONTRIBUTING                       float64
 37  FACTOR.1                             float64
 38  VEHICLE.1                            float64
 39  2,CONTRIBUTING                       float64
 40  FACTOR.2                             float64
 41  VEHICLE.2                            float64
 42  3,CONTRIBUTING                       float64
 43  FACTOR.3                             float64
 44  VEHICLE.3                            float64
 45  4,CONTRIBUTING                       float64
 46  FACTOR.4                             float64
 47  VEHICLE.4                            float64
 48  5,COLLISION_ID,VEHICLE               float64
 49  TYPE                                 float64
 50  CODE                                 float64
 51  1,VEHICLE                            float64
 52  TYPE.1                               float64
 53  CODE.1                               float64
 54  2,VEHICLE                            float64
 55  TYPE.2                               float64
 56  CODE.2                               float64
 57  3,VEHICLE                            float64
 58  TYPE.3                               float64
 59  CODE.3                               float64
 60  4,VEHICLE                            float64
 61  TYPE.4                               float64
 62  CODE.4                               float64
 63  5                                    float64
dtypes: float64(29), object(35)
memory usage: 955.6+ MB

In [14]:
mvc_c.head()

,CRASH,"DATE,CRASH","TIME,BOROUGH,ZIP","CODE,LATITUDE,LONGITUDE,LOCATION,ON",STREET,"NAME,CROSS",STREET.1,"NAME,OFF",STREET.2,"NAME,NUMBER",...,"2,VEHICLE",TYPE.2,CODE.2,"3,VEHICLE",TYPE.3,CODE.3,"4,VEHICLE",TYPE.4,CODE.4,5
0,"09/11/2021,2:39,,,,,,WHITESTONE","EXPRESSWAY,20","AVENUE,,2,0,0,0,0,0,2,0,Aggressive",Driving/Road,"Rage,Unspecified,,,,4455765,Sedan,Sedan,,,",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"03/26/2022,11:45,,,,,,QUEENSBORO",BRIDGE,"UPPER,,,1,0,0,0,0,0,1,0,Pavement","Slippery,,,,,4513547,Sedan,,,,",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"06/29/2022,6:55,,,,,,THROGS",NECK,"BRIDGE,,,0,0,0,0,0,0,0,0,Following",Too,"Closely,Unspecified,,,,4541903,Sedan,Pick-up","Truck,,,",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.8...","-73.8665)"",,,1211",LORING,"AVENUE,0,0,0,0,0,0,0,0,Unspecified,,,,,4456314...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.9...","-73.917274)"",SARATOGA","AVENUE,DECATUR","STREET,,0,0,0,0,0,0,0,0,,,,,,4486609,,,,,",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

below is the code i found from one of my foundations of data analytics classes

i am going back and reworking it. the data sets have changed in some ways since april 2022

In [10]:
# Converting the date column to its specified data type
mvc_c['DATE'] = pd.to_datetime(mvc_c.DATE)

AttributeError: ignored

In [ ]:
# Creating three new columns for easy querying
mvc_c['YEAR'] = mvc_c.DATE.dt.year
mvc_c['MONTH'] = mvc_c.DATE.dt.month
mvc_c['DAY'] = mvc_c.DATE.dt.day

In [ ]:
# Considering columns beneficial for visualizing on carto
mvc_c = mvc_c[['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
               'CONTRIBUTING FACTOR VEHICLE 1', 'NUMBER OF PEDESTRIANS INJURED', 
               'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 
               'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED']]

In [ ]:
# We notice that zip codes are of object datatype instead of the required integer data type
mvc_c = mvc_c[pd.notnull(mvc_c['ZIP CODE'])]

In [ ]:
# Converting zip codes datatype to numeric
mvc_c['ZIP CODE'] = pd.to_numeric(mvc_c['ZIP CODE'], errors='coerce')

In [ ]:
# Removing outliers and unrecorded zip code values from the data( i.e. zero values and those outside the NTC city limits)
mvc_c = mvc_c[(mvc_c['LATITUDE'] > 0.1) & (mvc_c['LATITUDE'] < 41)]
mvc_c = mvc_c.drop(mvc_c[mvc_c['CONTRIBUTING FACTOR VEHICLE 1']=='Unspecified'].index)

In [ ]:
# Merging the dataframe for carto with above zip counts
mvc_c = pd.merge(mvc_c, mvc_c['ZIP CODE'].value_counts().to_frame().reset_index().rename(columns={"ZIP CODE": "ZIP COUNTS"}), how='left', left_on='ZIP CODE', right_on='index').drop(columns='index')

In [ ]:
mvc_c = mvc_c.rename(columns={"CONTRIBUTING FACTOR VEHICLE 1": "CONTRIBUTING FACTOR"})
return mvc_c.sort_values('DATE', ascending=False)[:499999]
#.to_csv('dropped_500k_wCounts.csv', index=False)

In [ ]:
# Function to load the processed data obtained from running the above function 'load_data_complete' on the dataset
def load_data_concise():
    cur_dir = os.path.dirname('__file__')
    return pd.read_csv(os.path.join(cur_dir, "dropped_500k_wCounts.csv"))

In [ ]:
# Returns Viz 1: Total accidents per year for each borough
def time_pivot(data):
    tdf = data[['YEAR', 'BOROUGH']].groupby(['YEAR', 'BOROUGH']).size().rename('Count').reset_index()
    return pd.pivot_table(tdf, columns='YEAR', index='BOROUGH')

In [ ]:
# Returns Viz 2:  Injury/Fatality of a specific mode per year for each borough
def mode_pivot(data, mode):
    mdf = data[['DATE', 'BOROUGH', 'YEAR',
                   'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
                   'NUMBER OF CYCLIST INJURED'    , 'NUMBER OF CYCLIST KILLED',
                   'NUMBER OF MOTORIST INJURED'   , 'NUMBER OF MOTORIST KILLED']].groupby(['YEAR', 'BOROUGH']).sum()
    return pd.pivot_table(mdf, columns='YEAR', index='BOROUGH', values=mode)

In [ ]:
# Returns Viz 3:  Collision due to a specific Contriburing Factor per year for each borough
def factor_pivot(data, factor):
    top20_factors = ['Driver Inattention--Distraction',
                     'Failure to Yield Right-of-Way',
                     'Fatigued--Drowsy',
                     'Backing Unsafely',
                     'Other Vehicular',
                     'Following Too Closely',
                     'Turning Improperly',
                     'Lost Consciousness',
                     'Passing or Lane Usage Improper',
                     'Traffic Control Disregarded',
                     'Driver Inexperience',
                     'Prescription Medication',
                     'Unsafe Lane Changing',
                     'Pavement Slippery',
                     'Outside Car Distraction',
                     'Alcohol Involvement',
                     'Physical Disability',
                     'Oversized Vehicle',
                     'Reaction to Other Uninvolved Vehicle',
                     'Unsafe Speed']

In [ ]:
fdf = data[['BOROUGH', 'YEAR', 'CONTRIBUTING FACTOR']].groupby(['YEAR', 'BOROUGH', 'CONTRIBUTING FACTOR']).size().rename('Count').reset_index()
fdf = fdf[fdf['CONTRIBUTING FACTOR'].isin(top20_factors)]
return pd.pivot_table(fdf, columns='YEAR', index=['BOROUGH', 'CONTRIBUTING FACTOR']).xs(factor, level=1)#.to_csv('viz3_factor_pivot_'+factor+'.csv')