<a href="https://colab.research.google.com/github/MelAGndy/main/blob/Python/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python simple basics

##The way? Repetition, over and over and over and over and over and over...

In [ ]:
print('Hello Beautiful!')

Hello Beautiful!

In [ ]:
Mel = ' Learning with redundancy!'

In [ ]:
print(Mel)

 Learning with redundancy!

In [ ]:
# use '= ' to assign value; use '==' to compare values

var2 = 'I do not love NYC'
print(var2)

'I do not love NYC' == 'I love NYC'

I do not love NYC

False

In [ ]:
x = 4
y = 1 
x + y

5

In [ ]:
y = 2

##Code is read top to bottom so if you change a variable after it is defined the latest change is the variable.

In [ ]:
x + y

6

##maths........   for computing and stuff


> Most frequently used for computation:
>
> **operators**:
>
| Operator | Usage           | Example | Answer |
|----------|------------------|---------|--------|
| +        | addition         | 1 + 2   | 3      |
| -        | subtraction      | 9 - 3   | 6      |
| /        | division         | 7/2     | 3.5    |
| //       | integer division | 7/2     | 3      |
| %        | modulus          | 7%3     | 1      |
| **       | exponentiation   | 3**2    | 9      |
>
>
> **data types**:
>
| Type    | Example     | 
|---------|-------------|
| integer | 5           |
| float   | 5.0         | 
| strings | '5'         | 
| boolean | True/False  |

In [ ]:
57.7 * 6

346.20000000000005

##Variable assignment & Calculations

In [ ]:
scaler = 5
result = 0.999 * scaler / 10
result

0.4995

##Multible Variable assignments at once

In [ ]:
x,y = 10,-20

In [ ]:
x **2 - y**2

-300

In [ ]:
# compare values to get a boolean result
x == y

False

##Printing using Fstring

In [ ]:
check = 'NYC' == 'SF'
print(f'Is NYC same as SF? {check}')

Is NYC same as SF? False

##FINDING THE VARIABLE!!!

 Wheres Waldo? Wheres Nemo? Flo where did you go?
????

using ***FOR*** to check if a value is in a list

In [ ]:
lis = [1, 3, 5, 7, 9]

target = 10

for i in lis: 
  print(i == target)

False
False
False
False
False

In [ ]:
target = 9

for i in lis: 
  print(i == target)

False
False
False
False
True

## understanding Dtypes

##data value and data type are not the same != no matter the looks.



> ***operators*** for comparison

| Operator | Usage            | 
|----------|------------------|
| ==        | equal           | 
| !=        | not equal       | 
| >        | greater than     |
| <       | less than | 7/2   |
| >=        | greater than or equal than|
| <=       | less than or equal to |

a string will never equal an interger or float

In [ ]:
100 == '100'

False

but an integer and float of the same value are equal ==

In [ ]:
100 == 100.0

True

In [ ]:
print(1==1)
print('apples' != 'oranges')
print(100.1 >= 100.0)
print(1 < 2)
print (3.14 ** 2 >= 3.14 ** 2) 
print(0.001 <= 0.1)

True
True
True
True
True
True

its simple to find out the data type
for the whole set or a single varible

In [ ]:
type(100)

int

In [ ]:
type('100')

str

In [ ]:
type(100.0)

float

Its also fairly simple to change the data type from a string to a float or integer

In [ ]:
float('100.0') == 100.0

True

putting different types of data together requires certain procedures for it to print or output

In [ ]:
print('I have ' + 3 + ' types of data to work with right now.')

TypeError: ignored

You can change the data type by casting 

casting - a way to change the variables/ values of a datatype into the data type required for an operation to be carried through by a code snippit.  Functions such as int(), str(), float(), etc. are used.

In [ ]:
print('I have ' + str(3) + ' types of data to work with right now.')

I have 3 types of data to work with right now.

##BE CAREFUL!!!! variables ARE caSe SsSensitive... and check your spelling!!!

In [ ]:
fruit1= 'apple'
print(Fruit1)

NameError: ignored

because it wont print people! it just wont no matter how hard you try!

## Single vs. double quotes...

In [ ]:
school_1 = 'SINGLE'
school_2 = "DOUBLE"

print(school_1)
print(school_2)

SINGLE
DOUBLE

when it just wont work for the singles...

single & double quotes are typically interchangeble UNLESS you add that apostrophe

In [ ]:
print('If you use single quotes in a string with an apostrophe, it won't print')

SyntaxError: ignored

the fix...

In [ ]:
print("If you use double quotes in a string with an apostrophe, it won't give you a problem")

If you use double quotes in a string with an apostrophe, it won't give you a problem

#practicing

PRINTing n math FUNCTIONS

INPUT and a FUNCTION

>calculate the area for a circle with a radius of 5.5

In [ ]:
pi = 3.14159
r = float(input ('What is the radius of the circle? : '))
print ('The area of the circle with a radius of ' + str(r) + ' is: ' + str(pi * r**2))

What is the radius of the circle? : 3
The area of the circle with a radius of 3.0 is: 28.27431

>at the restraunt

>>dividing the pizza.... you have 12 slices and there are 5 people...how many are there left to fight over???

In [ ]:
sl = 12-(5 * 2)
print ('There are ' + str (sl) + ' slices remaining.' )

There are 2 slices remaining.

In [ ]:
sentence = 'For dinner, we spent a total of $' 
c = (120 * .2) + 120
print(str(sentence) + str(c))

For dinner, we spent a total of $144.0

##Restraunt bill calculator

In [ ]:
charge = float(input ('What is the cost of the bill? : '))
tip_percentage = float(input ('How much of a tip?\n   ex:10%=.10 ex:20%=.20\n '))
sentence = 'for dinner, we have spent a total of $' 

# Q. please calculate the total cost for the dinner bill and print out the complete sentence
c = (charge * tip_percentage) + charge
print('For dinner, we have spent a total of $' +str(c))

What is the cost of the bill? : 25
How much of a tip?
   ex:10%=.10 ex:20%=.20
 .10
For dinner, we have spent a total of $27.5

>>calculate the total cost for the dinner bill including tip and print out the complete sentence

In [ ]:
charge = float(input ('What is the cost of the bill? : '))
tip_percentage = float(input ('How much of a tip?\n   ex:10%=.10 ex:20%=.20\n '))
sentence = 'for dinner, we have spent a total of $' 
party = float(input('How many ways should this be split? : '))
d = 0.999 * party
c = (charge * tip_percentage) + charge
e = c/d
print('For dinner, we have spent a total of $' +str(e))

What is the cost of the bill? : 25
How much of a tip?
   ex:10%=.10 ex:20%=.20
 .10
How many ways should this be split? : 6
For dinner, we have spent a total of $4.587921254587921

Fstring fix???

##Commenting out...tricks, ticks & trade to

annotate code or prevent a line of code from executing

#

In [ ]:
print('this will run')
#print('this will not run')

this will run

you can select multiple lines in pandas and press ctrl+?

In [ ]:
# print('this will run')
# #print('this will not run')

for some reason this one doesnt work on pandas but typically triple quotes single or double will comment out a block of code.

In [ ]:
"""
another way of commenting out
multiple line
of text
"""

'\nanother way of commenting out\nmultiple line\nof text\n'

# <--  -->

## lists

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

adding a value/ item

In [ ]:
mylist.append('orange')
mylist

['apple', 'banana', 'cherry', 'orange']

removing a value/ item

In [ ]:
mylist.remove('apple')
mylist

['banana', 'cherry', 'orange']

using Loops:

*for*

*if*

*else*

*while*

In [ ]:
for fruit in mylist:
  print(fruit)

banana
cherry
orange

using a loop to find out how many of a value are in the list

In [ ]:
mylist = ["apple", "banana", "cherry"]*2

for fruit in mylist:
  if fruit == 'cherry':
    print('bingo!')
  else:
    print('not cherry')

not cherry
not cherry
bingo!
not cherry
not cherry
bingo!

to select and compute a long list of numbers

adding all the evens

In [ ]:
total = 0 
for num in range(1000001):
  if num % 2 == 0:
    total = total + num

total

250000500000

 execute a set of statements as long as a condition is true

adds numbers up as long as the running numbers are less than 100 but bigger than 0

In [ ]:
current_num = 0
total = 0

while current_num <= 100:
  total = total + current_num
  current_num = current_num + 1

total

5050

add numbers up as long as the running numbers are less than 100 but bigger than 0

##Functions

without an argument

In [ ]:
def function1(): # no argument in the parenthesis

function1() # call the function to execute

IndentationError: ignored

>functions need to be defined with a value. 
>>There can be zero, one, or more. Commas separated parameters with their optional default values. These are passed to the function.

with an argument

In [ ]:
def function2(value): # one argument called value
  print('I love', str(value))

function2('NYC') # call the function to execute

I love NYC

with multiple values

In [ ]:
def function3(num, n_power): # on eargument called value
  result = num ** n_power
  return result

return yields the result variable  after running the operation assigned.

needs to be nested within the function

call the function

In [ ]:
function3(10, 2.2)

158.48931924611142

using define to change change celsius to fahrenheit

and then the for if else loop to print the values using new style formatting

WORKING ON THIS ONE

In [ ]:
def temp_c_to_f(c):
  c = float(input ('What is the temperature in Fahrenheit if it is this in Celsius? : '))
  fahrenheit = c * 9 / 5 + 32
  return fahrenheit
temp_c_to_f(c)

What is the temperature in Fahrenheit if it is this in Celsius? : 32

89.6

In [ ]:
#def temp_f_to_c(Fa):
  #celsius = (Fa - 32) / 1.8
  #return celsius
#temp_f_to_c(Fa)

NameError: ignored

In [ ]:
H = float(input('How tall are you?\n(using meters)\n'))
W = float(input('How much do you weigh?\n(using kilos)\n'))

def BMI(H,W):
  bmi = W/(H**2)
  return bmi

print('Your Calculated BMI is:', BMI(H,W))

How tall are you?
(using meters)
1.79
How much do you weigh?
(using kilos)
79
Your Calculated BMI is: 24.65590961580475

 create a python list and store all the odd numbers from 1 to 1000 in it

#For if else statements.

In [ ]:
number_list = []

for number in range(1, 1001):
  number_list.append(number)

In [ ]:
number_list = [i for i in range(1,1001)]
final_list = []
for k in number_list:
  if k % 2 == 1:
    final_list.append(k)

final_list

In [ ]:
len(number_list)

1000

another way

In [ ]:
for num in range(1000):
  if num % 2 != 0:
    print(num)

In [ ]:
GPA = float(input('Check to see if your GPA fits the minimal requirements!\n Enter your GPA here\n'))
if GPA >3.8 and GPA <= 4.0:
    print ('Welcome to the Rice!')
elif GPA <= 3.8: 
    print ('Sorry')
else:
    print ('Ooops, type a GPA in range Please')

Check to see if your GPA fits the minimal requirements!
 Enter your GPA here
2.5
Sorry

### To be continued...

 write a function or just use some if-else statement to figure how many prime numbers are there between 100 and 200