#Python simple basics

##The way? Repetition, over and over and over and over and over and over...

In [65]:
print('Hello Beautiful!')

Hello Beautiful!

In [41]:
Mel = ' Learning with redundancy!'

In [42]:
print(Mel)

 Learning with redundancy!

In [66]:
# use '= ' to assign value; use '==' to compare values

var2 = 'I do not love NYC'
print(var2)

'I do not love NYC' == 'I love NYC'

I do not love NYC

False

In [67]:
x = 4
y = 1 
x + y

5

In [68]:
y = 2

##Code is read top to bottom so if you change a variable after it is defined the latest change is the variable.

In [46]:
x + y

6

##maths........   for computing and stuff


> Most frequently used for computation:
>
> **operators**:
>
| Operator | Usage           | Example | Answer |
|----------|------------------|---------|--------|
| +        | addition         | 1 + 2   | 3      |
| -        | subtraction      | 9 - 3   | 6      |
| /        | division         | 7/2     | 3.5    |
| //       | integer division | 7/2     | 3      |
| %        | modulus          | 7%3     | 1      |
| **       | exponentiation   | 3**2    | 9      |
>
>
> **data types**:
>
| Type    | Example     | 
|---------|-------------|
| integer | 5           |
| float   | 5.0         | 
| strings | '5'         | 
| boolean | True/False  |

In [47]:
57.7 * 6

346.20000000000005

##Variable assignment & Calculations

In [48]:
scaler = 5
result = 0.999 * scaler / 10
result

0.4995

##Multible Variable assignments at once

In [72]:
x,y = 10,-20

In [73]:
x **2 - y**2

-300

In [74]:
# compare values to get a boolean result
x == y

False

##Printing using Fstring

In [75]:
check = 'NYC' == 'SF'
print(f'Is NYC same as SF? {check}')

Is NYC same as SF? False

##FINDING THE VARIABLE!!!

 Wheres Waldo? Wheres Nemo? Flo where did you go?
????

using ***FOR*** to check if a value is in a list

In [55]:
lis = [1, 3, 5, 7, 9]

target = 10

for i in lis: 
  print(i == target)

False
False
False
False
False

In [77]:
target = 9

for i in lis: 
  print(i == target)

False
False
False
False
True

## understanding Dtypes

##data value and data type are not the same != no matter the looks.



> ***operators*** for comparison

| Operator | Usage            | 
|----------|------------------|
| ==        | equal           | 
| !=        | not equal       | 
| >        | greater than     |
| <       | less than | 7/2   |
| >=        | greater than or equal than|
| <=       | less than or equal to |

a string will never equal an interger or float

In [56]:
100 == '100'

False

but an integer and float of the same value are equal ==

In [57]:
100 == 100.0

True

its simple to find out the data type
for the whole set or a single varible

In [58]:
type(100)

int

In [59]:
type('100')

str

In [60]:
type(100.0)

float

Its also fairly simple to change the data type from a string to a float or integer

In [61]:
float('100.0') == 100.0

True

putting different types of data together requires certain procedures for it to print or output

In [4]:
print('I have ' + 3 + ' types of data to work with right now.')

TypeError: ignored

You can change the data type by casting 

casting - a way to change the variables/ values of a datatype into the data type required for an operation to be carried through by a code snippit.  Functions such as int(), str(), float(), etc. are used.

In [3]:
print('I have ' + str(3) + ' types of data to work with right now.')

I have 3 types of data to work with right now.

##BE CAREFUL!!!! variables ARE caSe SsSensitive... and check your spelling!!!

In [5]:
fruit1= 'apple'
print(Fruit1)

NameError: ignored

because it wont print people! it just wont no matter how hard you try!

## Single vs. double quotes...

In [7]:
school_1 = 'SINGLE'
school_2 = "DOUBLE"

print(school_1)
print(school_2)

SINGLE
DOUBLE

when it just wont work for the singles...

single & double quotes are typically interchangeble UNLESS you add that apostrophe

In [8]:
print('If you use single quotes in a string with an apostrophe, it won't print')

SyntaxError: ignored

the fix...

In [9]:
print("If you use double quotes in a string with an apostrophe, it won't give you a problem")

If you use double quotes in a string with an apostrophe, it won't give you a problem

#practicing

PRINTing n math FUNCTIONS

INPUT and a FUNCTION

In [10]:
# Q. calculate the area for a circle with a radius of 5.5 

pi = 3.14159
r = float(input ('What is the radius of the circle? : '))
print ('The area of the circle with a radius of ' + str(r) + ' is: ' + str(pi * r**2))

What is the radius of the circle? : 5.55
The area of the circle with a radius of 5.55 is: 96.76882597499998

at the restraunt

dividing the pizza.... you have 12 slices and there are 5 people...how many are there left to fight over???

In [1]:
sl = 12-(5 * 2)
print ('There are ' + str (sl) + ' slices remaining.' )

There are 2 slices remaining.

In [ ]:
sentence = 'For dinner, we spent a total of $' 
c = (120 * .2) + 120
print(str(sentence) + str(c))

calculate the total cost for the dinner bill including tip and print out the complete sentence

In [30]:
cost = float(input ('What is the cost of the bill? : '))
tip_percentage = float(input('What percentage do you wish to tip? : '))
dutch = float(input('How many ways should this be split? : '))
print ('The cost of your share of the meal split equally  tip is: ' str(cost) + str(cost) * str(tip_percentage) / str(dutch))

SyntaxError: ignored

using an input

In [22]:
print(1==1)
print('apples' != 'oranges')
print(100.1 >= 100.0)
print(1 < 2)
print (3.14 ** 2 >= 3.14 ** 2) 
print(0.001 <= 0.1)

True
True
True
True
True
True

Fstring fix???

##Commenting out...tricks, ticks & trade to

annotate code or prevent a line of code from executing

#

In [ ]:

print('this will run')

#print('this will not run')

you can select multiple lines in pandas and press ctrl+?

In [15]:
# print('this will run')

# #print('this will not run')

for some reason this one doesnt work on pandas but typically triple quotes single or double will comment out a block of code.

In [19]:
"""
another way of commenting out
multiple line
of text
"""

'\nanother way of commenting out\nmultiple line\nof text\n'

</---

## lists

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist

adding a value/ item

In [ ]:
mylist.append('orange')
mylist

removing a value/ item

In [ ]:
mylist.remove('apple')
mylist

using Loops:

*for*

*if*

*else*

*while*

In [ ]:
for fruit in mylist:
  print(fruit)

using a loop to find out how many of a value are in the list

In [31]:
mylist = ["apple", "banana", "cherry"]*2



for fruit in mylist:
  if fruit == 'cherry':
    print('bingo!')
  else:
    print('not cherry')

not cherry
not cherry
bingo!
not cherry
not cherry
bingo!

to select and compute a long list of numbers

adding all the evens

In [32]:
total = 0 
for num in range(1000001):
  if num % 2 == 0:
    total = total + num

total

250000500000

 execute a set of statements as long as a condition is true

adds numbers up as long as the running numbers are less than 100 but bigger than 0

In [ ]:
current_num = 0
total = 0

while current_num <= 100:
  total = total + current_num
  current_num = current_num + 1

total

add numbers up as long as the running numbers are less than 100 but bigger than 0

##Functions

without an argument

In [35]:
def function1(): # no any argument in the parenthesis
  #print('I love data')

function1() # call the function to execute

IndentationError: ignored

with an argument

In [34]:
def function2(value): # one argument called value
  print('I love', str(value))

function2('NYC') # call the function to execute

I love NYC

with multiple values

In [36]:
def function3(num, n_power): # on eargument called value
  result = num ** n_power
  return result             # use 'return' to yield the outcome after running the process


# call the function

function3(10, 3)

1000

### To be continued...

using define to change change celsius to fahrenheit

and then the for if else loop to print the values using new style formatting

WORKING ON THIS ONE

In [40]:
def temp_c_to_f(c):
  c = float(input ('What is the temperature in Celcius? : '))
  result = c * 9 / 5 + 32

# for x in range(0,101,.5):

#     e = Celsius2Fahrenheit(x)
#     if (e > 0):
#         print(" {:3.1f} (C) | {:6.2f} (F) ".format(x,e))
#     else:
#         print(" {:3.1f} (C) | {:6.2f} (F) ".format(x,e))

 create a python list and store all the odd numbers from 1 to 1000 in it

 write a function or just use some if-else statement to figure how many prime numbers are there between 100 and 200