<a href="https://colab.research.google.com/github/MelAGndy/main/blob/main/MPGPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
#bring in all of the machine learning and modeling techniques...lots of algorithims
#measuers to test the accuracy and compute the error score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn import metrics
#pickle what does it do? 
import pickle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#exploring the mpg_df... we have seen this data set many times sooo we can then 
#state it is different and he reduced the amount of features from the beginning...
#creating a value in the process
columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']

In [ ]:
#importing the mpg_df and also eliminating the white space and null values
mpg_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', na_values = ['NA', '?'], names = columns, delim_whitespace=True)

In [ ]:
#EDA
#showing the mpg_df
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [ ]:
#EDA 
mpg_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [ ]:
#EDA 
#fill in the meadian of the mpg_df set... rtakes the median of the column and fills in the nan values with the meadian
mpg_df['horsepower'] = mpg_df['horsepower'].fillna(mpg_df['horsepower'].median())

In [ ]:
#EDA 
#now have no null values
mpg_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [ ]:
#Data Cleaning
#creating X and y  so you need to turn something around... has a regular flow... no need for dummy variables and not dealing with nlp yet or key words
# creating a numeric list of the mpg_df..turning itnto an np.array so we can work with it in a more stream lined computation
# now np.floats with 32 bit which is standard for computting
numeric_list = mpg_df.select_dtypes(include=[np.number]).columns
mpg_df[numeric_list] = mpg_df[numeric_list].astype(np.float32)

In [ ]:
#Data Cleaning
#X and Y values... x = all columns except mpg because it is the Y
X = mpg_df[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin']].values
y = mpg_df['mpg'].values

In [ ]:
type(y)

numpy.ndarray

In [ ]:
type(X)

numpy.ndarray

In [ ]:
#Splitting data set for training/testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 101)

In [ ]:
#Splitting data set for training/testing
#REspecify that the trrain mpg_df is a float of 32bytes ... additional step for sanity
X_train = X_train.astype(np.float32)

In [ ]:
#Splitting data set for training/testing
##now looking at the mpg_df shape
# doing some f-string ...with the train and test mpg_df... seeing the shape of all of the mpg_df
print(f'The shape of the split data is: \n X_train: \t{X_train.shape} \n X_test: \t{X_test.shape} \n y_train: \t{y_train.shape} \n y_test: \t{y_test.shape}')

The shape of the split data is:
 X_train: 	(318, 7)
 X_test: 	(80, 7)
 y_train: 	(318,)
 y_test: 	(80,)

####f is string formating..in the print
####name = input('enter name')
####print(f'hello world {name}')
####https://realpython.com/python-string-formatting/
######fancy...way..f-strings...a must for all assignments now

In [ ]:
#Machine Learning
#bring in a variable 
LinearRegression_model = LinearRegression()
DecisionTree_model = DecisionTreeRegressor()
RandomForest_model = RandomForestRegressor()
XGBRegressor_model = XGBRegressor()

In [ ]:
#Machine Learning
#creating a list of models to save time. 4 models trained in one line
models = [LinearRegression_model, DecisionTree_model, RandomForest_model, XGBRegressor_model]
for model in models:
    model.fit(X_train, y_train)
    print(f'{model} is trained!')

LinearRegression() is trained!
DecisionTreeRegressor() is trained!
RandomForestRegressor() is trained!
[18:17:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGBRegressor() is trained!

In [ ]:
#Machine Learning
#now we want to get the accuracy. creating the score
accuracy_LinearRegression = LinearRegression_model.score(X_test, y_test)
accuracy_DecisionTree = DecisionTree_model.score(X_test, y_test)
accuracy_RandomForest = RandomForest_model.score(X_test, y_test)
accuracy_XGBoost = XGBRegressor_model.score(X_test, y_test)

In [ ]:
#Machine Learning
#creating a dictionary  now can choose which model works best
models = {'LinearRegression_model': accuracy_LinearRegression, 'DecisionTree_model': accuracy_DecisionTree, 'RandomForest_model': accuracy_RandomForest, 
          'XGBRegressor_model': accuracy_XGBoost}
for model, score in models.items():
    print(f'The accuracy score for the {model} is {round(score, 4)}')

The accuracy score for the LinearRegression_model is 0.8001
The accuracy score for the DecisionTree_model is 0.7291
The accuracy score for the RandomForest_model is 0.9045
The accuracy score for the XGBRegressor_model is 0.9017

In [ ]:
#looking at all of the features except for 'name' can drop it no numerical value
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

#TEST

In [ ]:
#based on the 7 columns making a feature called testing vector
test_x = np.zeros((1, 7))
test_x

array([[0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
#now assigning values to the test value x 
test_x[0, 0] = 8.0
test_x[0, 1] = 307.0
test_x[0, 2] = 130.0
test_x[0, 3] = 3504.0
test_x[0, 4] = 12.0
test_x[0, 5] = 70.0
test_x[0, 6] = 1.0
test_x

array([[8.000e+00, 3.070e+02, 1.300e+02, 3.504e+03, 1.200e+01, 7.000e+01,
        1.000e+00]])

In [ ]:
prediction = LinearRegression_model.predict(test_x)
round(float(prediction[0]), 2)
#at two precission intervals

15.09

In [ ]:
#now a list of all the models no quotes
models = [LinearRegression_model, DecisionTree_model, RandomForest_model, XGBRegressor_model]

In [ ]:
#running a loop for models in models predict and print with fstring
#linear predicted the best
for model in models:
    prediction = model.predict(test_x)
    print(f'The model {model} predicts an mpg of {round(float(prediction[0]), 2)}')

The model LinearRegression() predicts an mpg of 15.09
The model DecisionTreeRegressor() predicts an mpg of 18.0
The model RandomForestRegressor() predicts an mpg of 16.7
The model XGBRegressor() predicts an mpg of 16.05

need to save the file... choosing one or two ...linear or desicion

In [ ]:
#now he is mounting his drive ... and saving it to his driv under the projects file project 1right click and copy path
#calling it model file holding the folder
model_file = '/content/drive/MyDrive/PredictiveAnalytics/Projects/Project1'

In [ ]:
#Desicion Tree
with open('dtm_file', 'wb') as file:#saving the DTfile
    model = pickle.dump(DecisionTree_model, file)

In [ ]:
#linear
#now saving the file with the picle library... 
#with it open you dump the linear regression file into it. 
#make sure it saves to google drive in the right folder.#
with open('pkl_file', 'wb') as file:
    model = pickle.dump(LinearRegression_model, file)