option 1

getting the data. analyze diabetes data ..diff states, dif ages, pick a feature( a column to compair) two states , two zip code,... any two group descriptive statistics cleaning one or more visualization brief conclusion statement. health care industry is very codified. The coding then comes into play with this data set....need a data dictionary. renaming some columns that actual humans understand.

**option 2

he didnt give the data... you have to get it yourself. figure out a way to import it... easiest is to download to your desktop. use read_csv..use the web link.... drive... who knows

make sure you look at your bias and the datas bias and dictate it in your summary. check out plotly can create interactive visualizations and cufflinks

will use seaborn can export visualizations just using code geopandas..location data... uber lyft... all use the geopandas library. SEABORN lecture 7

##**Questions:**
> ### *Are the crimes equally distributed throughout the precents?*

>> Does one precinct suffer more from one type of felony vs onother?

>> Do more misdemeaors get documented in one area than the others?  

> ### *Can the crimes be predicted by age,sex and place?*
>>Further reading and research working with racial bias in data:
>>>

Dataset Dictionary


| Column Name | Description	Type | Data Type |
|-------------|------------------|-----------|
|ARREST_KEY|Randomly generated persistent ID for each arrest|plain Text|
|ARREST_DATE|Exact date of arrest for the reported event|Date & Time|
|PD_CD | Three digit internal classification code (more granular than Key Code)|Number|
|PD_DESC|Description of internal classification corresponding with PD code (more granular than Offense Description)|Plain Text|
|KY_CD|Three digit internal classification code (more general category than PD code)|Number|
|OFNS_DESC|Description of internal classification corresponding with KY code (more general category than PD description)|Plain Text|
|LAW_CODE|Law code charges corresponding to the NYS Penal Law, VTL and other various local laws|Plain Text|
|LAW_CAT_CD|Level of offense: felony, misdemeanor, violation|Plain Text|
|ARREST_BORO|Borough of arrest. B(Bronx), S(Staten Island), K(Brooklyn), M(Manhattan), Q(Queens)|Plain Text|
|ARREST_PRECINCT|Precinct where the arrest occurred|Number|
|JURISDICTION_CODE|Jurisdiction responsible for arrest.0(Patrol), 1(Transit) and 2(Housing) represent NYPD. Codes 3 and more represent non NYPD jurisdictions|Number|
|AGE_GROUP	|Perpetrator’s age within a category|Plain Text|
|PERP_SEX|Perpetrator’s sex description|Plain Text|
|PERP_RACE	|Perpetrator’s race description|Plain Text|
|X_COORD_CD|Midblock X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)|Number|
|Y_COORD_CD	|Midblock Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)|Number|
|Latitude|Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)|Number|
|Longitude	|Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)|Number|New Georeferenced Column Point|

#https://data.cityofnewyork.us/api/odata

##(140564, 19) - data on on import
##(138823, 19) - after dropping null values

In [1]:
# coding: utf-8

#Import

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# # Function to load the complete dataset and perform the data manipulations in-house
# def load_data_complete():
#     cur_dir = os.path.dirname()

In [5]:
# Read the csv
nypd_a_y2d = pd.read_csv('/content/drive/MyDrive/PredictiveAnalytics/101/data/NYPD_Arrest_Data__Year_to_Date_.csv')

#EDA

In [6]:
nypd_a_y2d.shape

(140564, 19)

In [7]:
nypd_a_y2d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140564 entries, 0 to 140563
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                140564 non-null  int64
 1   ARREST_DATE               140564 non-null  object
 2   PD_CD                     140188 non-null  float64
 3   PD_DESC                   140564 non-null  object
 4   KY_CD                     140185 non-null  float64
 5   OFNS_DESC                 140564 non-null  object
 6   LAW_CODE                  140564 non-null  object
 7   LAW_CAT_CD                139202 non-null  object
 8   ARREST_BORO               140564 non-null  object
 9   ARREST_PRECINCT           140564 non-null  int64
 10  JURISDICTION_CODE         140564 non-null  int64
 11  AGE_GROUP                 140564 non-null  object
 12  PERP_SEX                  140564 non-null  object
 13  PERP_RACE                 140564 non-null  object
 14  X_COORD_CD                140564 non-null  int64
 15  Y_COORD_CD                140564 non-null  int64
 16  Latitude                  140564 non-null  float64
 17  Longitude                 140564 non-null  float64
 18  New Georeferenced Column  140564 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 20.4+ MB

In [8]:
nypd_a_y2d.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,238859078,01/09/2022,NaN,(null),NaN,(null),PL 2650022,M,B,49,0,25-44,M,BLACK HISPANIC,1021536,251417,40.856680,-73.865212,POINT (-73.865212 40.85668)
1,239923883,01/31/2022,NaN,(null),NaN,(null),CPL5700600,9,Q,113,3,25-44,M,BLACK,1046367,186986,40.679701,-73.776047,POINT (-73.77604735 40.67970059)
2,239651234,01/25/2022,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,71,0,25-44,M,BLACK,998742,181235,40.664121,-73.947765,POINT (-73.9477648403751 40.664121282631)
3,241524225,03/03/2022,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,84,0,18-24,M,BLACK,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)
4,241038267,02/22/2022,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,B,41,0,45-64,M,BLACK,1013037,236657,40.816206,-73.896001,POINT (-73.8960011932583 40.8162058439227)

Replacing the (null)s

In [9]:
nypd_a_y2d.isnull().sum()

ARREST_KEY                     0
ARREST_DATE                    0
PD_CD                        376
PD_DESC                        0
KY_CD                        379
OFNS_DESC                      0
LAW_CODE                       0
LAW_CAT_CD                  1362
ARREST_BORO                    0
ARREST_PRECINCT                0
JURISDICTION_CODE              0
AGE_GROUP                      0
PERP_SEX                       0
PERP_RACE                      0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       0
Longitude                      0
New Georeferenced Column       0
dtype: int64

In [38]:
nypd_a_y2d.replace({'(null)': None},inplace =True, regex= True)

In [42]:
nypd_a_y2d.isnull().sum()

ARREST_KEY                     0
ARREST_DATE                    0
PD_CD                        376
PD_DESC                      379
KY_CD                        379
OFNS_DESC                    379
LAW_CODE                       0
LAW_CAT_CD                  1362
ARREST_BORO                    0
ARREST_PRECINCT                0
JURISDICTION_CODE              0
AGE_GROUP                      0
PERP_SEX                       0
PERP_RACE                      0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       0
Longitude                      0
New Georeferenced Column       0
dtype: int64

In [32]:
#Look at the unique values for columns containing greater than 20 values
#We don't want TOO MUCH variability because easier to cause overfitting
for column in nypd_a_y2d.columns:
    print(column,'unique values:',len(nypd_a_y2d[column].unique()))

ARREST_KEY unique values: 140564
ARREST_DATE unique values: 273
PD_CD unique values: 246
PD_DESC unique values: 235
KY_CD unique values: 70
OFNS_DESC unique values: 65
LAW_CODE unique values: 968
LAW_CAT_CD unique values: 6
ARREST_BORO unique values: 5
ARREST_PRECINCT unique values: 77
JURISDICTION_CODE unique values: 23
AGE_GROUP unique values: 5
PERP_SEX unique values: 2
PERP_RACE unique values: 7
X_COORD_CD unique values: 22286
Y_COORD_CD unique values: 23470
Latitude unique values: 25945
Longitude unique values: 25950
New Georeferenced Column unique values: 26533

 ## Rows with nulls: new data frame
 
 nulls... is there a connection. reason for no input

In [43]:
nypd_a_y2d2 = nypd_a_y2d[pd.isnull(nypd_a_y2d).any(axis=1)]

In [45]:
for column in nypd_a_y2d2.columns:
    print(column,'unique values:',len(nypd_a_y2d2[column].unique()))

ARREST_KEY unique values: 1741
ARREST_DATE unique values: 248
PD_CD unique values: 7
PD_DESC unique values: 5
KY_CD unique values: 2
OFNS_DESC unique values: 2
LAW_CODE unique values: 22
LAW_CAT_CD unique values: 5
ARREST_BORO unique values: 5
ARREST_PRECINCT unique values: 75
JURISDICTION_CODE unique values: 13
AGE_GROUP unique values: 5
PERP_SEX unique values: 2
PERP_RACE unique values: 7
X_COORD_CD unique values: 510
Y_COORD_CD unique values: 509
Latitude unique values: 511
Longitude unique values: 511
New Georeferenced Column unique values: 511

In [49]:
nypd_a_y2d.dropna(inplace=True)

In [50]:
nypd_a_y2d.shape
#(140564, 19)- on import

(138823, 19)

In [ ]:
#(140564, 19) - on import
#(138823, 19) - after dropping null values

In [46]:
nypd_a_y2d.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [47]:
borough= {'B':'Bronx','K': 'Brooklyn', 'M': 'Manhattan','Q':"Queens", 'S':'Staten Island'}
gender = {'M': 'Male', 'F':'Female'}

In [48]:
#Look at the unique values for each column with less than 20 unique values
for column in nypd_a_y2d.columns:
    if len(nypd_a_y2d[column].unique()) <20:
        print(column,':',nypd_a_y2d[column].unique())

LAW_CAT_CD : ['M' '9' 'F' nan 'I' 'V']
ARREST_BORO : ['B' 'Q' 'K' 'M' 'S']
AGE_GROUP : ['25-44' '18-24' '45-64' '<18' '65+']
PERP_SEX : ['M' 'F']
PERP_RACE : ['BLACK HISPANIC' 'BLACK' 'WHITE HISPANIC' 'WHITE'
 'ASIAN / PACIFIC ISLANDER' 'UNKNOWN' 'AMERICAN INDIAN/ALASKAN NATIVE']

In [17]:
for column in nypd_a_y2d.columns:
    if len(nypd_a_y2d[column].unique()) <100:
        print(column,':',nypd_a_y2d[column].unique())

KY_CD : [ nan 104. 233. 237. 230. 114. 116. 347. 118. 344. 126. 348. 881. 106.
 341. 109. 235. 351. 361. 358. 121. 105. 353. 113. 995. 343. 107. 236.
 232. 117. 359. 119. 250. 101. 110. 111. 364. 572. 352. 355. 346. 677.
 356. 112. 578. 120. 125. 103. 363. 350. 102. 124. 365. 231. 675. 340.
 880. 234. 122. 115. 238. 345. 354. 676. 678. 571. 455. 882. 685. 349.]
OFNS_DESC : ['(null)' 'RAPE' 'SEX CRIMES' 'ESCAPE 3' 'JOSTLING' 'ARSON'
 'INTOXICATED & IMPAIRED DRIVING' 'DANGEROUS WEAPONS'
 'ASSAULT 3 & RELATED OFFENSES' 'MISCELLANEOUS PENAL LAW'
 'VEHICLE AND TRAFFIC LAWS' 'OTHER TRAFFIC INFRACTION' 'FELONY ASSAULT'
 'PETIT LARCENY' 'GRAND LARCENY' 'DANGEROUS DRUGS'
 'CRIMINAL MISCHIEF & RELATED OF' 'OFF. AGNST PUB ORD SENSBLTY &'
 'OFFENSES INVOLVING FRAUD' 'ROBBERY' 'UNAUTHORIZED USE OF A VEHICLE'
 'FORGERY' 'FOR OTHER AUTHORITIES' 'OTHER OFFENSES RELATED TO THEF'
 'BURGLARY' 'POSSESSION OF STOLEN PROPERTY'
 'OFFENSES AGAINST PUBLIC ADMINI' 'INTOXICATED/IMPAIRED DRIVING'
 'CANNABIS RELATED OFFENSES' 'MURDER & NON-NEGL. MANSLAUGHTE'
 'GRAND LARCENY OF MOTOR VEHICLE' 'OTHER STATE LAWS (NON PENAL LA'
 'DISORDERLY CONDUCT' 'CRIMINAL TRESPASS' 'OFFENSES AGAINST THE PERSON'
 'ALCOHOLIC BEVERAGE CONTROL LAW' 'OTHER STATE LAWS'
 'PROSTITUTION & RELATED OFFENSES' 'THEFT OF SERVICES' 'THEFT-FRAUD'
 'HARRASSMENT 2' 'ENDAN WELFARE INCOMP' 'NYS LAWS-UNCLASSIFIED FELONY'
 'HOMICIDE-NEGLIGENT,UNCLASSIFIE' 'OFFENSES AGAINST PUBLIC SAFETY'
 'GAMBLING' 'HOMICIDE-NEGLIGENT-VEHICLE' 'KIDNAPPING & RELATED OFFENSES'
 'ADMINISTRATIVE CODE' "BURGLAR'S TOOLS" 'FRAUDS' 'MOVING INFRACTIONS'
 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED' 'FRAUDULENT ACCOSTING'
 'ANTICIPATORY OFFENSES' 'NEW YORK CITY HEALTH CODE'
 'CHILD ABANDONMENT/NON SUPPORT' 'LOITERING/GAMBLING (CARDS, DIC'
 'UNLAWFUL POSS. WEAP. ON SCHOOL' 'PARKING OFFENSES' 'KIDNAPPING'
 'OTHER STATE LAWS (NON PENAL LAW)' 'ADMINISTRATIVE CODES'
 'OFFENSES RELATED TO CHILDREN' 'DISRUPTION OF A RELIGIOUS SERV']
LAW_CAT_CD : ['M' '9' 'F' nan 'I' 'V']
ARREST_BORO : ['B' 'Q' 'K' 'M' 'S']
ARREST_PRECINCT : [ 49 113  71  84  41  46  77  13  14  32   5 107 114 112  60 122  75 121
  78  69  81 102  79 103  73 120  43  45  66  63 111  72  62   7  40   1
 110  44  10  25  23  28  19 115  90  47  30  83  52  94 105  33 104  88
  34  70 106 109  48 100  26  50  67  42  18 101 108   9  20 123  61  76
   6  68  24  17  22]
JURISDICTION_CODE : [ 0  3  1  2 72 71 97 73 11 15  7 14 87  4  6 88 16 69 13 12 85 74  9]
AGE_GROUP : ['25-44' '18-24' '45-64' '<18' '65+']
PERP_SEX : ['M' 'F']
PERP_RACE : ['BLACK HISPANIC' 'BLACK' 'WHITE HISPANIC' 'WHITE'
 'ASIAN / PACIFIC ISLANDER' 'UNKNOWN' 'AMERICAN INDIAN/ALASKAN NATIVE']

In [37]:
(nypd_a_y2d.OFNS_DESC.value_counts(ascending=False).head(30))
#or 
#(nypd_a_y2d['OFNS_DESC'].value_counts(ascending=False))  
#They are the same

ASSAULT 3 & RELATED OFFENSES      23188
PETIT LARCENY                     15288
FELONY ASSAULT                    14190
MISCELLANEOUS PENAL LAW            9327
CRIMINAL MISCHIEF & RELATED OF     7717
DANGEROUS DRUGS                    7686
ROBBERY                            7310
GRAND LARCENY                      6432
DANGEROUS WEAPONS                  6011
BURGLARY                           4731
VEHICLE AND TRAFFIC LAWS           4668
OFFENSES AGAINST PUBLIC ADMINI     4203
OFFENSES INVOLVING FRAUD           3627
SEX CRIMES                         3192
OFF. AGNST PUB ORD SENSBLTY &      2938
FORGERY                            2795
POSSESSION OF STOLEN PROPERTY      1869
INTOXICATED & IMPAIRED DRIVING     1813
OTHER OFFENSES RELATED TO THEF     1804
FOR OTHER AUTHORITIES              1362
MURDER & NON-NEGL. MANSLAUGHTE     1242
OTHER TRAFFIC INFRACTION           1238
CRIMINAL TRESPASS                  1177
GRAND LARCENY OF MOTOR VEHICLE      992
OFFENSES AGAINST THE PERSON         755
RAPE                                569
NYS LAWS-UNCLASSIFIED FELONY        515
BURGLAR'S TOOLS                     446
(null)                              379
UNAUTHORIZED USE OF A VEHICLE       360
Name: OFNS_DESC, dtype: int64

In [20]:
nypd_a_y2d.PD_DESC.count()

140564

##Cleaning

In [21]:
# # Converting the date column to its specified data type
# nypd_a_y2d['ARREST_DATE'] = pd.to_datetime(nypd_a_y2d.ARREST_DATE)

In [22]:
# # Creating three new columns for easy querying
# nypd_a_y2d['YEAR'] = nypd_a_y2d.ARREST_DATE.dt.year
# nypd_a_y2d['MONTH'] = nypd_a_y2d.ARREST_DATE.dt.month
# nypd_a_y2d['DAY'] = nypd_a_y2d.ARREST_DATE.dt.day

In [23]:
# # Considering columns beneficial for visualizing 
# nypd_a_y2d = nypd_a_y2d[['ARREST_DATE','AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'PD_DESC', 'OFNS_DESC', 'X_COORD_CD','Y_COORD_CD', 'Latitude', 'Longitude']]