option 1

getting the data. analyze diabetes data ..diff states, dif ages, pick a feature( a column to compair) two states , two zip code,... any two group descriptive statistics cleaning one or more visualization brief conclusion statement. health care industry is very codified. The coding then comes into play with this data set....need a data dictionary. renaming some columns that actual humans understand.

**option 2

he didnt give the data... you have to get it yourself. figure out a way to import it... easiest is to download to your desktop. use read_csv..use the web link.... drive... who knows

make sure you look at your bias and the datas bias and dictate it in your summary. check out plotly can create interactive visualizations and cufflinks

will use seaborn can export visualizations just using code geopandas..location data... uber lyft... all use the geopandas library. SEABORN lecture 7

##**Questions:**
> ### *Are the crimes equally distributed throughout the precents?*

>> Does one precinct suffer from one type of felony vs onother?

>> Do more misdemeaors happen in one area than onother?  

> ### *Can the crimes be predicted by age,sex and place? ommiting the race card?*
>>Further reading and research working with racial bias in data:
>>>

Dataset Dictionary


| Column Name | Description	Type | Data Type |
|-------------|------------------|-----------|
|ARREST_KEY|Randomly generated persistent ID for each arrest|plain Text|
|ARREST_DATE|Exact date of arrest for the reported event|Date & Time|
|PD_CD | Three digit internal classification code (more granular than Key Code)|Number|
|PD_DESC|Description of internal classification corresponding with PD code (more granular than Offense Description)|Plain Text|
|KY_CD|Three digit internal classification code (more general category than PD code)|Number|
|OFNS_DESC|Description of internal classification corresponding with KY code (more general category than PD description)|Plain Text|
|LAW_CODE|Law code charges corresponding to the NYS Penal Law, VTL and other various local laws|Plain Text|
|LAW_CAT_CD|Level of offense: felony, misdemeanor, violation|Plain Text|
|ARREST_BORO|Borough of arrest. B(Bronx), S(Staten Island), K(Brooklyn), M(Manhattan), Q(Queens)|Plain Text|
|ARREST_PRECINCT|Precinct where the arrest occurred|Number|
|JURISDICTION_CODE|Jurisdiction responsible for arrest.0(Patrol), 1(Transit) and 2(Housing) represent NYPD. Codes 3 and more represent non NYPD jurisdictions|Number|
|AGE_GROUP	|Perpetrator’s age within a category|Plain Text|
|PERP_SEX|Perpetrator’s sex description|Plain Text|
|PERP_RACE	|Perpetrator’s race description|Plain Text|
|X_COORD_CD|Midblock X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)|Number|
|Y_COORD_CD	|Midblock Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)|Number|
|Latitude|Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)|Number|
|Longitude	|Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)|Number|New Georeferenced Column Point|

In [ ]:
# coding: utf-8

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#https://data.cityofnewyork.us/api/odata/v4/h9gi-nx95

In [ ]:
# # Function to load the complete dataset and perform the data manipulations in-house
# def load_data_complete():
#     cur_dir = os.path.dirname()

In [ ]:
# Read the csv
nypd_a_y2d = pd.read_csv('/content/drive/MyDrive/PredictiveAnalytics/101/data/NYPD_Arrest_Data__Year_to_Date_.csv')

In [ ]:
nypd_a_y2d.shape

(140564, 19)

In [ ]:
nypd_a_y2d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140564 entries, 0 to 140563
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                140564 non-null  int64
 1   ARREST_DATE               140564 non-null  object
 2   PD_CD                     140188 non-null  float64
 3   PD_DESC                   140564 non-null  object
 4   KY_CD                     140185 non-null  float64
 5   OFNS_DESC                 140564 non-null  object
 6   LAW_CODE                  140564 non-null  object
 7   LAW_CAT_CD                139202 non-null  object
 8   ARREST_BORO               140564 non-null  object
 9   ARREST_PRECINCT           140564 non-null  int64
 10  JURISDICTION_CODE         140564 non-null  int64
 11  AGE_GROUP                 140564 non-null  object
 12  PERP_SEX                  140564 non-null  object
 13  PERP_RACE                 140564 non-null  object
 14  X_COORD_CD                140564 non-null  int64
 15  Y_COORD_CD                140564 non-null  int64
 16  Latitude                  140564 non-null  float64
 17  Longitude                 140564 non-null  float64
 18  New Georeferenced Column  140564 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 20.4+ MB

In [ ]:
nypd_a_y2d.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,238859078,01/09/2022,NaN,(null),NaN,(null),PL 2650022,M,B,49,0,25-44,M,BLACK HISPANIC,1021536,251417,40.856680,-73.865212,POINT (-73.865212 40.85668)
1,239923883,01/31/2022,NaN,(null),NaN,(null),CPL5700600,9,Q,113,3,25-44,M,BLACK,1046367,186986,40.679701,-73.776047,POINT (-73.77604735 40.67970059)
2,239651234,01/25/2022,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,71,0,25-44,M,BLACK,998742,181235,40.664121,-73.947765,POINT (-73.9477648403751 40.664121282631)
3,241524225,03/03/2022,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,84,0,18-24,M,BLACK,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)
4,241038267,02/22/2022,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,B,41,0,45-64,M,BLACK,1013037,236657,40.816206,-73.896001,POINT (-73.8960011932583 40.8162058439227)

In [ ]:
nypd_a_y2d.isnull().sum()

ARREST_KEY                     0
ARREST_DATE                    0
PD_CD                        376
PD_DESC                        0
KY_CD                        379
OFNS_DESC                      0
LAW_CODE                       0
LAW_CAT_CD                  1362
ARREST_BORO                    0
ARREST_PRECINCT                0
JURISDICTION_CODE              0
AGE_GROUP                      0
PERP_SEX                       0
PERP_RACE                      0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       0
Longitude                      0
New Georeferenced Column       0
dtype: int64

In [ ]:
nypd_a_y2d.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [ ]:
borough= {'B':'Bronx','K': 'Brooklyn', 'M': 'Manhattan','Q':"Queens", 'S':'Staten Island'}
gender = {'M': 'Male', 'F':'Female'}

In [ ]:
#Look at the unique values for each column with less than 20 unique values
for column in data.columns:
    if len(data[column].unique()) <20:
        print(column,':',data[column].unique())

In [ ]:
# Converting the date column to its specified data type
nypd_a_y2d['ARREST_DATE'] = pd.to_datetime(nypd_a_y2d.ARREST_DATE)

In [ ]:
# Creating three new columns for easy querying
nypd_a_y2d['YEAR'] = nypd_a_y2d.ARREST_DATE.dt.year
nypd_a_y2d['MONTH'] = nypd_a_y2d.ARREST_DATE.dt.month
nypd_a_y2d['DAY'] = nypd_a_y2d.ARREST_DATE.dt.day

In [ ]:
# Considering columns beneficial for visualizing 
nypd_a_y2d = nypd_a_y2d[['ARREST_DATE','AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'PD_DESC', 'OFNS_DESC', 'X_COORD_CD','Y_COORD_CD', 'Latitude', 'Longitude']]

In [ ]:
nypd_a_y2d.tail(45)

,ARREST_DATE,AGE_GROUP,PERP_SEX,PERP_RACE,PD_DESC,OFNS_DESC,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,01/09/2022,25-44,M,BLACK HISPANIC,(null),(null),1021536,251417,40.856680,-73.865212
2,01/25/2022,25-44,M,BLACK,RAPE 3,RAPE,998742,181235,40.664121,-73.947765
3,03/03/2022,18-24,M,BLACK,RAPE 1,RAPE,988902,192641,40.695439,-73.983225
4,02/22/2022,45-64,M,BLACK,RAPE 1,RAPE,1013037,236657,40.816206,-73.896001
5,02/17/2022,<18,M,BLACK,"SEXUAL ABUSE 3,2",SEX CRIMES,998742,181235,40.664121,-73.947765
...,...,...,...,...,...,...,...,...,...,...
140559,09/21/2022,25-44,M,WHITE HISPANIC,OBSTR BREATH/CIRCUL,ASSAULT 3 & RELATED OFFENSES,1013096,236605,40.816057,-73.895785
140560,08/15/2022,25-44,M,BLACK,STRANGULATION 1ST,FELONY ASSAULT,991549,169019,40.630600,-73.973705
140561,07/06/2022,45-64,M,BLACK,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,990420,188642,40.684454,-73.977750
140562,09/13/2022,25-44,F,BLACK,"DRUG PARAPHERNALIA, POSSESSE",DANGEROUS DRUGS,1019464,241704,40.830027,-73.872754
140563,07/16/2022,45-64,M,WHITE HISPANIC,"NY STATE LAWS,UNCLASSIFIED FEL",NYS LAWS-UNCLASSIFIED FELONY,1001611,241370,40.829163,-73.937267

In [ ]:
list(nypd_a_y2d.OFNS_DESC.value_counts(ascending=False))

In [ ]:
nypd_a_y2d.PD_DESC.count()

AGE_GROUP  PERP_SEX  PERP_RACE                       PD_DESC
18-24      F         AMERICAN INDIAN/ALASKAN NATIVE  ASSAULT 2,1,UNCLASSIFIED        2
                                                     ASSAULT 3                       2
                                                     CONTEMPT,CRIMINAL               1
                                                     INTOXICATED DRIVING,ALCOHOL     1
                                                     STRANGULATION 1ST               1
                                                                                    ..
<18        M         WHITE HISPANIC                  TRESPASS 3, CRIMINAL            2
                                                     UNAUTHORIZED USE VEHICLE 2      2
                                                     UNAUTHORIZED USE VEHICLE 3      6
                                                     WEAPONS POSSESSION 3            1
                                                     WEAPONS, POSSESSION, ETC       19
Name: PD_DESC, Length: 4156, dtype: int64