# ***An Exploratory Analysis of Rat Sightings In NYCs 5 Boroughs:***

 Creation of sets for further EDA
Preliminary: *Are the reports of rats equally distributed throughout the boroughs?*

>> Does one borough have more reports of rats per population than the other?
where are the most reports by year, month....

>>

Is there a correlation between the frequency of DSNY collection and the affect on the number of sightings?

Types of collections and the reported sightings.

sightings to frequency
sightings to population



Possible Further exploration into:

>Sightings to vendor

Litter baskets.

>Refuge stats compared to US

>Employment stats and truck violations.

#Reported Sightings
---Original data sourced from:

 https://data.cityofnewyork.us/Social-Services/Rat-Sightings/3q43-55fe


> *additional sources added upon completion of ReadMe.txt master repository creation*


###Initial files joined/cleaned with Tableau Prep

==> step1_ratsightings = (Modified_Zip_Code_Tabulation_Areas__MODZCTA_.csv
Rat_Sightings.csv)


==> dsny_frequency = (DSNY_Districts, DSNY_Frequencies, NYC_Community_Board_dist,Modified_Zip_Code_Tabulation_Areas__MODZCTA_.csv)

Neighborhoods to zips

* Bronx Central Bronx 10453, 10457, 10460
* Bronx Park and Fordham 10458, 10467, 10468
* High Bridge and Morrisania 10451, 10452, 10456
* Hunts Point and Mott Haven 10454, 10455, 10459, 10474
* Kingsbridge and Riverdale 10463, 10471
* Northeast Bronx 10466, 10469, 10470, 10475
* Brooklyn Central Brooklyn 11212, 11213, 11216, 11233, 11238
* Southwest Brooklyn 11209, 11214, 11228
* Borough Park 11204, 11218, 11219, 11230
* Canarsie and Flatlands 11234, 11236, 11239
* Southern Brooklyn 11223, 11224, 11229, 11235
* Northwest Brooklyn 11201, 11205, 11215, 11217, 11231
* Flatbush 11203, 11210, 11225, 11226
* East New York and New Lots 11207, 11208
* Greenpoint 11211, 11222
* Sunset Park 11220, 11232
* Bushwick and Williamsburg 11206, 11221, 11237
* Manhattan Central Harlem 10026, 10027, 10030, 10037, 10039
* Chelsea and Clinton 10001, 10011, 10018, 10019, 10020, 10036
* East Harlem 10029, 10035
* Gramercy Park and Murray Hill 10010, 10016, 10017, 10022
* Greenwich Village and Soho 10012, 10013, 10014
* Lower Manhattan 10004, 10005, 10006, 10007, 10038, 10280
* Lower East Side 10002, 10003, 10009
* Upper East Side 10021, 10028, 10044, 10065, 10075, 10128
* Upper West Side 10023, 10024, 10025
* Inwood and Washington Heights 10031, 10032, 10033, 10034, 10040
* Queens Northeast Queens 11361, 11362, 11363, 11364
* North Queens 11354, 11355, 11356, 11357, 11358, 11359, 11360
* Central Queens 11365, 11366, 11367
* Jamaica 11412, 11423, 11432, 11433, 11434, 11435, 11436
* Northwest Queens 11101, 11102, 11103, 11104, 11105, 11106
* West Central Queens 11374, 11375, 11379, 11385
* Rockaways 11691, 11692, 11693, 11694, 11695, 11697
* Southeast Queens 11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429
* Southwest Queens 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421
* West Queens 11368, 11369, 11370, 11372, 11373, 11377, 11378
* Staten Island Port Richmond 10302, 10303, 10310
* South Shore 10306, 10307, 10308, 10309, 10312
* Stapleton and St. George 10301, 10304, 10305
* Mid-Island 10314

**series count weekday**
Monday = 0

Tuesday = 1

Wednesday = 2, and so on

#Import

In [1]:
import pandas as pd
!pip install geopandas
import geopandas as gpd
import numpy as np
import re # flexable way to search for matching text in strings Regular Expressions
import seaborn as sns # plotting and graphing, built upon the matplotlib library.
import matplotlib.pyplot as plt
# example of a normalization
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
#import geopy #ploting by location longitude and latitude
from math import pi
#from geopy.geocoders import Nominatim as nm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline
sns.set()
# #these populated on their own
# from zmq.constants import THREAD_NAME_PREFIX
# from pandas.core.groupby import groupby

# #additional imports from notebook reference
# import plotly as ply
# import plotly.express as px
# import plotly.io as pio
# import scipy as sc
# import sympy as sy
# import matplotlib as matplot
# import statistics as stat
### some imports are yet to be used...cleaning up and still exploring past analysis usage.

Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2023.5.7)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.4)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.22.4)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read the csv(s)

missing_values=['nan','-', '']
rats = pd.read_csv('/content/drive/MyDrive/Projects/rats_analysis_application/Datasources/step1_ratsightings.csv', na_values = missing_values)
dsny = pd.read_csv('/content/drive/MyDrive/Projects/rats_analysis_application/Datasources/dsny_frequency.csv', na_values = missing_values)
#Unique Key as Index (after import check for duplicates then index unique key after sort of key and created date.)
#drop false leaves the index columns in when reindexing

#EDA DSNY

In [ ]:
print('Info:', dsny.info())
print('top 5 rows:', dsny.head())

In [ ]:
print('Rows, Columns:', dsny.shape)

##Cleaning DSNY

In [ ]:
dsny1 = dsny.drop_duplicates()
dsny1.shape == dsny.shape #(80475, 24)  (80481, 24)

In [ ]:
dsny1.sort_values(by=['schedulecode','modzcta', 'post_code']).head(5)

In [ ]:
dsny1_sorted = pd.DataFrame(dsny1.sort_values(by=['schedulecode','modzcta', 'post_code'], ascending=True))

In [ ]:
dsny1 = dsny1_sorted.reset_index(drop=True)

In [ ]:
# check missing values in different columns via heatmap
sns.heatmap(dsny1.isnull(), cbar=False)

In [ ]:
dsny1.columns

In [ ]:
dsny1.head()

In [ ]:
dsny.bulk_day1.unique()

In [ ]:
# Create the 'location' column using latitude and longitude columns
dsny1['location'] = '(' + dsny1['Latitude'].astype(str) + ', ' + dsny1['Longitude'].astype(str) + ')'

In [ ]:
dsny1['location'].unique()

#EDA RATS

In [ ]:
print('Info:', rats.info())
print('top 5 rows:', rats.head())

In [ ]:
print('Rows, Columns:', rats.shape)
#80481, 25 without Unique Key as Index Rows, Columns: (208789, 28 ratsightings...no change in names or dropped collumns

Replacing the double checks(null)s

In [ ]:
rats.index.is_unique

In [ ]:
rats.isnull().sum()

In [ ]:
rats.head()

In [ ]:
#check min max report dates
min_date = min(rats['created_date'])
max_date = max(rats['created_date'])
print('Date range: ', min_date, ' - ', max_date)

In [ ]:
 #check min max report dates
# min_date = min(rats['closed_date'])
# max_date = max(rats['closed_date'])
# print('Date range: ', min_date, ' - ', max_date)

cant get index to stay... or is it me? reindex keeping this column that is sorted?

In [ ]:
rats.info()

the dates still shows as objects.

In [ ]:
rats.isnull().sum()

In [ ]:
#checking the index again no sort going up to reindex nesscisary?
rats.head()

In [ ]:
rats['incident_zip'].nlargest(n=15)

##Cleaning Rats

In [ ]:
rats.sort_values(by=['incident_zip']).head(5)

In [ ]:
rats_sorted = rats.sort_values(by=['created_date'], ascending=True)

In [ ]:
rats_sorted.reset_index(drop=True)

In [ ]:
print('Borough Value counts after dropping columns and nulls:/n',rats_sorted['borough'].value_counts())

In [ ]:
rats_sorted.loc[~rats_sorted.index.duplicated(), :].head()

### Dropping duplicates/ columns/ nulls

In [ ]:
rat1 = rats_sorted.drop_duplicates()
rat1.shape == rats_sorted.shape

In [ ]:
rat1 = pd.DataFrame(rat1.sort_values(['created_date','unique_key'], ascending=True))

In [ ]:

#dropping columns that are unneeded or too many null values
# rat1 = rat1.drop(['cities_acceptable_irs', 'irs_estimated_population', 'landmark', 'marg_error'], axis=1)
# check missing values in different columns via heatmap
# sns.heatmap(rat1.isnull(), cbar=False)

In [ ]:
rat1.columns

### replacing values

In [ ]:
# Check if values in 'street_name' column are unique
is_unique = rat1['street_name'].is_unique
print("Are the values in 'street_name' column unique? ", is_unique)

# Get value counts of each unique value in 'street_name' column
street_name_counts = rat1['street_name'].value_counts()
print("Value counts of 'street_name' column:")
print(street_name_counts)

In [ ]:
# #when visualizing i noticed west had a double space and n, s, w, e was used along with north, south, east and west
# street_west_counts = rat1[rat1['street_name'].fillna('').str.contains('west', case=False)]['street_name'].value_counts()
# print(street_west_counts)

In [ ]:
#dictionary
street_name_replacements = {
    r'\bST\b': 'STREET',
    r'\bAVE\b': 'AVENUE',
    r'\b(BLVD|BLV)\b': 'BOULEVARD',
    r'\bPL\b': 'PLACE',
    r'\bCT\b': 'COURT',
    r'\bDR\b': 'DRIVE',
    r'\bSQ\b': 'SQUARE',
    r'\bTCE\b': 'TERRACE',
    r'\bAVE\b': 'AVENUE',
    r'\bE\b': 'EAST',
    r'\bW\b': 'WEST',
    r'\bN\b': 'NORTH',
    r'\bS\b': 'SOUTH',
    'DR MARTIN L KING JR BOULEVARD': 'DR MARTIN LUTHER KING JR BOULEVARD',
    'DR M L KING JR BOULEVARD': 'DR MARTIN LUTHER KING JR BOULEVARD',
    'DR MARTIN L KING JR BLVD': 'DR MARTIN LUTHER KING JR BOULEVARD',
    'DR MARTIN LUTHER KING JR BLVD': 'DR MARTIN LUTHER KING JR BOULEVARD'
}

# Apply the replacement rules
rat1['street_name'] = rat1['street_name'].replace(street_name_replacements, regex=True)

In [ ]:
# rat1['street_name'].unique()

In [ ]:
#dictionary
incident_address_replacements = {
    r'\bST\b': 'STREET',
    r'\bAVE\b': 'AVENUE',
    r'\b(BLVD|BLV)\b': 'BOULEVARD',
    r'\bPL\b': 'PLACE',
    r'\bCT\b': 'COURT',
    r'\bDR\b': 'DRIVE',
    r'\bSQ\b': 'SQUARE',
    r'\bTCE\b': 'TERRACE',
    r'\bAVE\b': 'AVENUE',
    r'\bE\b': 'EAST',
    r'\bW\b': 'WEST',
    r'\bN\b': 'NORTH',
    r'\bS\b': 'SOUTH',
    r'\bDR MARTIN L KING JR BOULEVARD\b': 'DR MARTIN LUTHER KING JR BOULEVARD',
    r'\bDR M L KING JR BOULEVARD\b': 'DR MARTIN LUTHER KING JR BOULEVARD',
    r'\bDR MARTIN L KING JR BLVD\b': 'DR MARTIN LUTHER KING JR BOULEVARD',
    r'\bDR MARTIN LUTHER KING JR BLVD\b': 'DR MARTIN LUTHER KING JR BOULEVARD'
}

# Apply the replacement rules
rat1['incident_address'] = rat1['incident_address'].replace(incident_address_replacements, regex=True)

In [ ]:
# # double check if values are unique
# is_unique = rat1['incident_address'].is_unique
# print("Are the values in 'incident_address' column unique? ", is_unique)

# # Get value counts of each unique value
# value_counts = rat1['incident_address'].value_counts()
# print("Value counts of 'incident_address' column:")
# print(value_counts)

In [ ]:
#Remove extra spaces
rat1['incident_address'] = rat1['incident_address'].apply(lambda x: "".join([x[i] for i in range(len(x)) if i == 0 or (x[i] != " " or x[i-1] != " ")]))

In [ ]:
address_counts = rat1['incident_address'].fillna('').value_counts()
print(address_counts)

In [ ]:
# Convert "incident_zip" to string type
rat1['incident_zips'] = rat1['incident_zip'].astype(str)

# Create a new column combining "incident_address" and "incident_zip"
rat1['address_zip'] = rat1['incident_address'] + ', ' + rat1['incident_zips']

###New Columns

####pd.datetime/ created YQMWD

In [ ]:
#Converting the date column to its specified data type
rat1['created_date'] = pd.to_datetime(rat1['created_date'])
rat1['closed_date'] = pd.to_datetime(rat1['closed_date'], errors='coerce')

In [ ]:
# Creating 4 new columns for easy querying
rat1['year']= rat1.created_date.dt.year
rat1['quarter']= rat1.created_date.dt.quarter
rat1['month'] = rat1.created_date.dt.month
rat1['weekday'] = rat1.created_date.dt.weekday
rat1['day'] = rat1.created_date.dt.day
rat1['hour'] = rat1.created_date.dt.hour
rat1

In [ ]:
rat1['sightings_count'] = 1

In [ ]:
rat1['sightings_count'].unique()

In [ ]:
rat1['unique_key'].isnull().sum()

In [ ]:
population = rat1['pop_est']
sightings_count = rat1['sightings_count']

sightings_per_capita = np.where(population != 0, sightings_count / population, 0)

# Add the 'sightings_per_capita' column to the DataFrame
rat1['sightings_per_capita'] = sightings_per_capita

CB_address_zip Normalized/pop_est

####DATEDIF = NEW COLUMN DURATION

In [ ]:

#Converting the date column to its specified data type
rat1['create_date'] = pd.to_datetime(rat1['created_date'], errors='coerce').dt.date
rat1['close_date'] = pd.to_datetime(rat1['closed_date'], errors='coerce').dt.date

In [ ]:

# Calculate the duration between 'create_date' and 'close_date' and assign it to 'duration' column
rat1['duration'] = rat1['close_date'] - rat1['create_date']

# Replace NaT values in 'duration' column with zeros
rat1['duration'] = rat1['duration'].fillna(pd.Timedelta(0))

# Convert duration from timedelta to integer (number of days)
rat1['duration'] = rat1['duration'].dt.days

# Display the updated DataFrame
print(rat1.head(2))

In [ ]:
found_values = rat1[rat1['closed_date'] == '1899-12-31 19:00:00']
print(found_values)

In [ ]:
rat1['duration'].unique()

In [ ]:
rat1['frequency_cb'] = rat1['address_zip'].map(rat1['address_zip'].value_counts()).fillna(0)
print(rat1.frequency_cb.unique())

###Dropping final nulls for analysis

In [ ]:
rat1.isnull().sum()

In [ ]:
# drop duplicate data (== gives the boolean value)
rat2 = rat1.drop_duplicates()
rat2.shape == rat1.shape

#VALUES

####DATE RANGE:

In [ ]:
#check min max crash dates
min_date = min(rat1['created_date'])
max_date = max(rat1['created_date'])
print(f'Date range:  {min_date}  -  {max_date}')

In [ ]:
# Replace '0000-00-00 00:00:00' with NaT (Not-a-Time)
rat1['close_date'] = rat1['closed_date'].replace('0000-00-00 00:00:00', pd.NaT)

# Convert 'closed_date' to datetime type
rat1['close_date'] = pd.to_datetime(rat1['close_date'], errors='coerce')

# Calculate the minimum and maximum values for 'closed_date'
close_dates_min = rat1['close_date'].min()
close_dates_max = rat1['close_date'].max()

# Print the calculated values
print(f"Close Date Range: {close_dates_min} - {close_dates_max}")

In [ ]:
#check min max crash dates
min_date = min(rat1['closed_date'])
max_date = max(rat1['closed_date'])
print(f'Date range:  {min_date}  -  {max_date}')

####rat1_normalized

In [ ]:
rat1.columns

In [ ]:
rat1['create_date']

In [ ]:
# Convert 'close_date' to datetime type
rat1['close_date'] = pd.to_datetime(rat1['close_date'])

# Calculate the minimum and maximum values for 'close_date'
close_dates_min = rat1['close_date'].min()
close_dates_max = rat1['close_date'].max()

# Print the calculated values
print(f"Close Date Range: {close_dates_min} - {close_dates_max}")

In [ ]:
rat1

In [ ]:
fig, ax = plt.subplots(figsize=(10, 8))
sns.scatterplot(data=rat1, x='longitude', y='latitude', hue='community_board', alpha=0.15, palette="viridis", label='Rat Sightings\n Community Districts', ax=ax)
sns.scatterplot(data=dsny1, x='Longitude', y='Latitude', hue= 'district', palette="Blues" ,label='\nDSNY Districts', ax=ax)
ax.legend(loc='center left', bbox_to_anchor=(1, 0.5), fontsize=6, ncol=2)
ax.set_title('Rat Sightings by Community Districts/DSNY Districts 2010-6/2023')
plt.show()

####Top ADDRESS_ZIP incidents =  rat1.groupby(['XXX'])['address_zip'].apply(lambda x: x.value_counts().nlargest())

Top Incidents Broken down by Created Date, Year, Quarter,

In [ ]:
# Top addresses ZIP codes by created date
top_addresses_by_created_date = rat1.groupby(['created_date'])['address_zip'].apply(lambda x: x.value_counts().nlargest())

# Top addresses ZIP codes by year
top_addresses_by_year = rat1.groupby(['year'])['address_zip'].apply(lambda x: x.value_counts().nlargest())
# Top addresses ZIP codes by quarter
top_addresses_by_quarter = rat1.groupby(['quarter'])['address_zip'].apply(lambda x: x.value_counts().nlargest())

# Top addresses ZIP codes by month
top_addresses_by_month = rat1.groupby(['month'])['address_zip'].apply(lambda x: x.value_counts().nlargest())
# Top addresses ZIP codes by weekday
top_addresses_by_weekday = rat1.groupby(['weekday'])['address_zip'].apply(lambda x: x.value_counts().nlargest())

# Top addresses ZIP codes by day of the week
top_addresses_by_day_of_week = rat1.groupby(['day'])['address_zip'].apply(lambda x: x.value_counts().nlargest())

# Top addresses ZIP codes by hour
top_addresses_by_hour = rat1.groupby(['hour'])['address_zip'].apply(lambda x: x.value_counts().nlargest())

# Display the results
print("Top addresses ZIP code by created date:")
print(top_addresses_by_created_date)
print()

print("Top addresses ZIP code by year:")
print(top_addresses_by_year)
print()

print("Top addresses ZIP code by quarter:")
print(top_addresses_by_quarter)
print()

print("Top addresses ZIP code by month:")
print(top_addresses_by_month)
print()

print("Top addresses ZIP code by weekday:")
print(top_addresses_by_weekday)
print()

print("Top addresses ZIP code by day of the week:")
print(top_addresses_by_day_of_week)
print()

print("Top addresses ZIP code by hour:")
print(top_addresses_by_hour)
print()

In [ ]:
plt.figure(figsize=(10, 6))
top_addresses_by_year.plot(kind='line', marker='o')
plt.xlabel('Year')
plt.ylabel('Count')
plt.title('Top Addresses ZIP Codes by Year')
plt.xticks(rotation=45)

In [ ]:
plt.figure(figsize=(14, 6))
sns.heatmap(top_addresses_by_month.unstack().fillna(0), cmap='coolwarm', annot=True)
plt.xlabel('Month')
plt.ylabel('ZIP Code')
plt.title('Top Addresses ZIP Codes by Month')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Convert the series to a DataFrame
df_top_addresses = pd.DataFrame(top_addresses_by_created_date)

# Reset the index of the DataFrame
df_top_addresses.reset_index(inplace=True)

# Rename the columns
df_top_addresses.columns = ['created_date', 'address_zip', 'count']

# Convert the 'created_date' column to a period type representing month and year
df_top_addresses['created_date'] = pd.to_datetime(df_top_addresses['created_date'])
df_top_addresses['month_year'] = df_top_addresses['created_date'].dt.to_period('M')

# Filter the data for the last 5 years
current_year = pd.to_datetime('today').year
five_years_ago = current_year - 5
df_top_addresses = df_top_addresses[df_top_addresses['created_date'].dt.year >= five_years_ago]

# Get the top 3 ZIP codes per month
top_3_per_month = df_top_addresses.groupby('month_year').apply(lambda x: x.nlargest(1, 'count')).reset_index(drop=True)

# Create a figure and axes with a wider plot
fig, ax = plt.subplots(figsize=(12, 6))

# Plot the data
top_3_per_month.groupby('month_year').apply(lambda x: plt.bar(x['address_zip'], x['count'], alpha=0.7))

# Set the labels and title
ax.set_xlabel('ZIP Code')
ax.set_ylabel('Count')
ax.set_title('Top Addresses ZIP Codes per Month (Last 5 Years)')

# Rotate the x-axis labels for better readability (optional)
plt.xticks(rotation=90)

# Display the plot
plt.show()

####Top Community Board = rat1.groupby(['XXX', 'community_board']).size().reset_index(name='cb_count')

#####Top Community board by created date

In [ ]:
# Top  Community Boards by Created Date'
top_community_board_counts = rat1.groupby(['created_date', 'community_board']).size().reset_index(name='cb_count')

# Sort the data by 'year' in ascending order and 'count' in descending order
top_community_board_sorted = top_community_board_counts.sort_values(by=['created_date', 'cb_count'], ascending=[False, False])

print("Top Addresses by Sightings Created Date:")
print(top_community_board_sorted)

In [ ]:
# Filter the 'cd_count' values that are >= 5
top_cb_greaterthan5 = top_community_board_sorted[top_community_board_sorted['cb_count'] >= 5]

print("Top Addresses by Sightings Created Date (Counts >= 5):")
print(top_cb_greaterthan5)

In [ ]:
# Filter the data for cb_count >= 5
df_filtered_counts = top_community_board_sorted[top_community_board_sorted['cb_count'] >= 5]

# Get the unique cb_count values along with the community_board column
filtered_counts = df_filtered_counts[['community_board', 'cb_count']].drop_duplicates()

print("Top Community Boards by Sightings Created Date (Counts >= 5):")
print(filtered_counts)

# Convert the 'created_date' column to a period type representing month and year
top_community_board_sorted['created_date'] = pd.to_datetime(top_community_board_sorted['created_date'])
top_community_board_sorted['month_year'] = top_community_board_sorted['created_date'].dt.to_period('M')

# Filter the data for the last 5 years
current_year_cb = pd.to_datetime('today').year
five_years_ago_cb = current_year_cb - 5
top_community_board_sorted_filtered = top_community_board_sorted[top_community_board_sorted['created_date'].dt.year >= five_years_ago_cb]

# Filter the data for cb_count >= 5
df_filtered_counts_filtered = top_community_board_sorted_filtered[top_community_board_sorted_filtered['cb_count'] >= 5]

# Get the unique cb_count values along with the community_board column
filtered_counts_filtered = df_filtered_counts_filtered[['community_board', 'cb_count']].drop_duplicates()

print("Top Community Boards by Sightings Created Date (Counts >= 5, Last 5 Years):")
print(filtered_counts_filtered)

In [ ]:
# Sort the data by 'cb_count' in descending order
filtered_counts_sorted = filtered_counts.sort_values('cb_count', ascending=False)

# Create a figure and axes
fig, ax = plt.subplots()

# Plot the data as a bar chart
ax.bar(filtered_counts_sorted['community_board'], filtered_counts_sorted['cb_count'])

# Set the labels and title
ax.set_xlabel('Community Board')
ax.set_ylabel('Count')
ax.set_title('Top Addresses by Sightings Created Date (Counts >= 5)')

# Rotate the x-axis labels for better readability (optional)
plt.xticks(rotation=90)

# Display the plot
plt.show()

#####Top Community board YQMweekday

In [ ]:

# # Top Community Boards by year','quarter','month','weekday'
# top_cb_yqmw = rat1.groupby(['year','quarter','month','weekday', 'community_board'])['unique_key'].apply(lambda x: x.value_counts().idxmax())

# print("Top Community Boards by year','quarter','month','weekday':")
# print(top_cb_yqmw)
# print()

#####Top Community board YQM

In [ ]:

# # Top  Community Boards by year','quarter','month'
# top_cb_yqm = rat1.groupby(['year','quarter','month', 'community_board'])['unique_key'].apply(lambda x: x.value_counts().idxmax())

# print("Top  Community Boards by year...:")
# print(top_cb_yqm)
# print()

#####Top Community board YQ

In [ ]:

# Top  Community Boards by year','quarter'
top_cb_yq_counts = rat1.groupby(['year','quarter', 'community_board']).size().reset_index(name='yq_count')

# Sort the data by 'year' in ascending order and 'count' in descending order
top_cb_yq_sorted = top_cb_yq_counts.sort_values(by=['year','quarter', 'yq_count'], ascending=[True,True, False])

print("Top  Community Boards by year and quarter:")
print(top_cb_yq_sorted)

#####Top Community board Y

In [ ]:

# Compute the count of sightings by 'year' and 'community_board'
top_cb_y_counts = rat1.groupby(['year', 'community_board']).size().reset_index(name='y_count')

# Sort the data by 'year' in ascending order and 'count' in descending order
top_cb_y_sorted = top_cb_y_counts.sort_values(by=['year', 'y_count'], ascending=[True, False])

print("Top incident address by year and community board:")
print(top_cb_y_sorted)

####Top Incidents by  New Columns = CB_address_zip = community board + address + zip AND CB_counts = rat1.groupby(['created_date', 'CB_address_zip'])['unique_key'].transform('count')

#####Year, created date

In [ ]:
# Create a new column combining 'community_board', 'incident_address', and 'incident_zip'
rat1['CB_address_zip'] = rat1['community_board'] + ', ' + rat1['incident_address'] + ', ' + rat1['incident_zips']

rat1['CB_counts'] = rat1.groupby(['created_date', 'CB_address_zip'])['unique_key'].transform('count')

# Filter the data for the last 5 years
current_year_cb = pd.to_datetime('today').year
five_years_ago_cb = current_year_cb - 5
rat1_last5yrs = rat1[rat1['created_date'].dt.year >= five_years_ago_cb]

# Get the sum of the counts CB_address_zip column
last5yrs_filtered_counts = rat1_last5yrs.groupby('CB_address_zip').agg({'CB_counts': 'sum'}).reset_index()
top_5_address_counts = last5yrs_filtered_counts.nlargest(5, 'CB_counts')

print("Top Addresses by Sightings Created Date (Last 5 Years):")
print(top_5_address_counts)

#####year quarter

In [ ]:

# Group the data by 'year', 'quarter', and 'CB_address_zip' and calculate the count of sightings
top_addresses_zip_yq_counts = rat1.groupby(['year', 'quarter', 'CB_address_zip']).size().reset_index(name='count_yq')

# Sort the data by 'year' in descending order while keeping the years sorted alphabetically
top_addresses_zip_yq_sorted = top_addresses_zip_yq_counts.sort_values(by=['year','quarter', 'count_yq'], ascending=[True,True, False])

# Display the count of sightings by 'year', 'created_date', and 'CB_address_zip' in descending order with sorted years
print("Count of sightings by 'year', 'quarter', and 'CB_address_zip' (descending order with sorted years):")
print(top_addresses_zip_yq_sorted)

#####year

In [ ]:
# Group the data by 'year' and 'CB_address_zip' and calculate the count of sightings
top_addresses_zip_y_counts = rat1.groupby(['year', 'CB_address_zip']).size().reset_index(name='count_y')

# Sort the data by 'year' in descending order while keeping the years sorted alphabetically
top_addresses_zip_y_sorted = top_addresses_zip_y_counts.sort_values(by=['year', 'count_y'], ascending=[False, False])

# Select the top addresses with the highest counts for each year
top_2_addresses = top_addresses_zip_y_sorted.groupby('year').apply(lambda x: x.nlargest(2, 'count_y')).reset_index(drop=True)

# Combine 'CB_address_zip' and 'year' into a new column
top_2_addresses['label'] = top_2_addresses['CB_address_zip'] + ' (' + top_addresses['year'].astype(str) + ')'

the above looks correct...?

In [ ]:
# Plot the counts of the top addresses with green color bars
plt.figure(figsize=(10, 6))
sns.barplot(data=top_addresses, x='count_y', y='label', color='green')
plt.xlabel('Count')
plt.ylabel('CB_address_zip (Year)')
plt.title('Top 2 Addresses by Community Board in each year')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Group the data by 'year' and 'CB_address_zip' and get the count
CB_year_counts = rat1.groupby(['year', 'CB_address_zip']).size().reset_index(name='count')

# Select the top addresses with the highest counts
top_addresses = CB_year_counts.groupby('year').apply(lambda x: x.nlargest(2, 'count')).reset_index(drop=True)

# Combine 'CB_address_zip' and 'year' into a new column
top_addresses['label'] = top_addresses['CB_address_zip'] + ' (' + top_addresses['year'].astype(str) + ')'

# Plot the counts of the top addresses with green color bars
plt.figure(figsize=(10, 6))
sns.barplot(data=top_addresses, x='label', y='count', color='green')
plt.xlabel('CB_address_zip (Year)')
plt.ylabel('Count')
plt.title('Top 2 CB_address_zip with Year')
plt.xticks(rotation=90)
plt.show()

####Top unique addresses using only incident_address

In [ ]:
top_10_unique_addresses = rat1['incident_address'].value_counts().nlargest(10).index.tolist()
print(top_10_unique_addresses)

#####Attempt this on the sets... or limit by year and community board?

In [ ]:
# Set the figure size
plt.figure(figsize=(15, 12))

# Plot the top_addresses_by_created_date
plt.subplot(2, 3, 1)
top_addresses_by_created_date.plot(kind='line')
plt.xlabel('Created Date')
plt.ylabel('Addresses')
plt.title('Top Incident Addresses Codes by Created Date')
plt.xticks(rotation=90)
# Plot the top_addresses_by_year
plt.subplot(2, 3, 2)
top_addresses_by_year.plot(kind='line')
plt.xlabel('Year')
plt.ylabel('Addresses')
plt.title('Top Incident Addresses Codes by Year')
plt.xticks(rotation=90)
# Plot the Top Incident Addresses codes by quarter
plt.subplot(2, 3, 3)
top_addresses_by_quarter.plot(kind='bar')
plt.xlabel('Quarter')
plt.ylabel('Addresses')
plt.title('Top Incident Addresses Codes by Quarter')
plt.xticks(rotation=90)
# Plot the Top Incident Addresses codes by month
plt.subplot(2, 3, 4)
top_addresses_by_month.plot(kind='line')
plt.xlabel('Month')
plt.ylabel('Addresses')
plt.title('Top Incident Addresses Codes by Month')
plt.xticks(rotation=90)
# Plot the Top Incident Addresses codes by weekday
plt.subplot(2, 3, 5)
top_addresses_by_weekday.plot(kind='line')
plt.xlabel('Weekday')
plt.ylabel('Addresses')
plt.title('Top Incident Addresses Codes by Weekday')
plt.xticks(rotation=90)
# Plot the Top Incident Addresses codes by hour
plt.subplot(2, 3, 6)
top_addresses_by_hour.plot(kind='line')
plt.xlabel('Hour')
plt.ylabel('Addresses')
plt.title('Top Incident Addresses Codes by Hour')
plt.xticks(rotation=90)


# Adjust the layout
plt.tight_layout()

# Display the plots
plt.show()

 ##rat2 New DF  I maybe over doing it but this is for my reference

In [ ]:
# Define the number of largest values to consider
n_largest = 3

# Group the data by 'year' and 'location_type'
year_location_type_grouped_data = rat1.groupby(['year', 'location_type'])

# Sort the groups based on 'location_type' in descending order
year_location_type_grouped_data = sorted(year_location_type_grouped_data, key=lambda x: x[0][1], reverse=True)

# Define an empty dataframe to store the calculated results
calculated_data = pd.DataFrame(columns=['year', 'location_type', 'sum_sightings_count', 'average_sightings_per_capita',
                                        'average_duration', 'average_frequency_cb', 'create_dates_min', 'create_dates_max',
                                        'close_dates_min', 'close_dates_max'])

for year_location_type_group, group_data in year_location_type_grouped_data:
    # Calculate sum, average, and min-max for specific columns
    sum_sightings_count = group_data['sightings_count'].sum()
    average_sightings_per_capita = group_data['sightings_per_capita'].mean()
    average_duration = group_data['duration'].mean()
    average_frequency_cb = group_data['frequency_cb'].mean()
    create_dates_min = group_data['create_date'].min()
    create_dates_max = group_data['create_date'].max()
    close_dates_min = group_data['closed_date'].min()
    close_dates_max = group_data['closed_date'].max()

    # Create a new row with the calculated values
    new_row = {'year': year_location_type_group[0],
               'location_type': year_location_type_group[1],
               'sum_sightings_count': sum_sightings_count,
               'average_sightings_per_capita': average_sightings_per_capita,
               'average_duration': average_duration,
               'average_frequency_cb': average_frequency_cb,
               'create_dates_min': create_dates_min,
               'create_dates_max': create_dates_max,
               'close_dates_min': close_dates_min,
               'close_dates_max': close_dates_max}

    # Append the new row to the calculated_data dataframe
    calculated_data = calculated_data.append(new_row, ignore_index=True)

# Merge the calculated_data dataframe with the rat2 dataframe based on 'year' and 'location_type'
rat2 = pd.merge(rat2, calculated_data, on=['year', 'location_type'], how='left')

In [ ]:
rat2

#rat2_analysis DF includes outliers

In [ ]:
rat2_analysis = rat1.copy()

#Top value counts by address zip :  Rat2_analysis

In [ ]:
top_counts = rat2_analysis.groupby('address_zip').agg({
    'unique_key':'count',
    'sightings_per_capita': 'mean',
    'location_type': 'first',
    'created_date': lambda x: list(x),
    'city': 'first',
    'community_board': 'first',
    'the_geom': 'first',
    'duration': 'mean'
})

top_counts_df = top_counts.reset_index().sort_values(['sightings_per_capita', 'unique_key'], ascending=[False, False])

# Filter the DataFrame based on the 'unique_key' column
top_counts_df = top_counts_df[top_counts_df['unique_key'] == 16]

print(top_counts_df)

In [ ]:
sightings_per_count = rat2_analysis.groupby('address_zip').agg({
    'unique_key':'count',
    'sightings_per_capita': 'mean',
    'location_type': 'first',
    'created_date': lambda x: list(x),
    'city': 'first',
    'community_board': 'first',
    'the_geom': 'first',
    'duration': 'mean'
}).nlargest(100, 'unique_key', keep='first')

top_counts_df = top_counts.reset_index().sort_values('sightings_per_capita', ascending=False)
print(top_counts_df)

In [ ]:
count_16_df = top_counts_df[top_counts_df['unique_key'] == 16]
unique_address_zips = count_16_df['address_zip'].unique()
print(unique_address_zips)

In [ ]:
sightings_per_capita = rat2_analysis.groupby('address_zip').agg({
    'sightings_per_capita': 'mean',
    'location_type': 'first',
    'created_date': lambda x: list(x),
    'city': 'first',
    'community_board': 'first',
    'the_geom': 'first',
    'duration': 'mean'
})

sightings_per_capita['unique_key_count'] = rat2_analysis.groupby('address_zip')['unique_key'].count()
sightings_per_capita_df = sightings_per_capita.reset_index().sort_values('sightings_per_capita', ascending=False)
print(sightings_per_capita_df)

In [ ]:
sightings_per_capita_df.unique_key_count.unique()

this needs fixed

In [ ]:
# Calculate the accumulated count per location type
accumulated_count = sightings_per_capita_df.groupby('location_type')['unique_key_count'].sum().reset_index()
top_5_location_types = accumulated_count.nlargest(5, 'unique_key_count')['location_type']

# Filter the data for the top 5 location types
top_5_per_category = (
    sightings_per_capita_df[sightings_per_capita_df['location_type'].isin(top_5_location_types)]
    .groupby('location_type')
    .apply(lambda x: x.nlargest(2, 'unique_key_count'))
    .reset_index(drop=True)
)

# Sort the location types in descending order based on the accumulated count
top_5_per_category = top_5_per_category.sort_values('unique_key_count', ascending=False)

# Plot the filtered data
sns.catplot(y='location_type', hue='community_board', data=top_5_per_category, kind='count', height=16, aspect=1.5)

In [ ]:
# Convert the series to a DataFrame
normalized_top_addresses = pd.DataFrame(top_addresses_by_created_date)

# Reset the index of the DataFrame
normalized_top_addresses.reset_index(inplace=True)

# Rename the columns
normalized_top_addresses.columns = ['created_date', 'address_zip', 'count']

# Convert the 'created_date' column to a period type representing month and year
normalized_top_addresses['created_date'] = pd.to_datetime(normalized_top_addresses['created_date'])
normalized_top_addresses['month_year'] = normalized_top_addresses['created_date'].dt.to_period('M')

# Filter the data for the last 5 years
current_year = pd.to_datetime('today').year
five_years_ago = current_year - 5
normalized_top_addresses = normalized_top_addresses[normalized_top_addresses['created_date'].dt.year >= five_years_ago]

# Get the top 3 ZIP codes per month
top_3_per_month = normalized_top_addresses.groupby('month_year').apply(lambda x: x.nlargest(1, 'count')).reset_index(drop=True)

# Create a figure and axes with a wider plot
fig, ax = plt.subplots(figsize=(12, 6))

# Plot the data
top_3_per_month.groupby('month_year').apply(lambda x: plt.bar(x['address_zip'], x['count'], alpha=0.7))

# Set the labels and title
ax.set_xlabel('ZIP Code')
ax.set_ylabel('Sightings per Capita')
ax.set_title('Top Addresses ZIP Codes per Month (Last 5 Years) - Normalized')

# Rotate the x-axis labels for better readability (optional)
plt.xticks(rotation=90)

# Display the plot
plt.show()

In [ ]:
# sns.barplot(x='address_zip', y='sightings_per_capita', hue='community_board', data=top_100_address_counts_df)
# plt.xlabel('address_zip')
# plt.ylabel('sightings_per_capita')
# plt.title('Comparison of Counts')
# plt.xticks(rotation=90)
# plt.show()

#rat1_analysis: NEW df with no no nulls/ for value counts to scale and analyse/

In [ ]:
# Create a new DataFrame for rat1 analysis
rat1_analysis = rat1.copy()

In [ ]:
# Drop the specified columns
columns_to_drop = ['incident_address','incident_zip', 'incident_zips','cross_street _1', 'cross_street_2','closed_date','due_date', 'intersection_street_1', 'intersection_street_2', 'address_Type', 'landmark', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'latitude', 'longitude', 'location','table_count', 'modztca', 'label', 'zcta', 'pop_est', 'create_date', 'close_date', 'frequency_cb']
rat1_analysis = rat1_analysis.drop(columns_to_drop, axis=1).reset_index(drop=True)

##rat1_analysis DF without outliers  for ml

In [ ]:
Q1 = rat1_analysis['frequency_cb'].quantile(0.25)
Q3 = rat1_analysis['frequency_cb'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = rat1_analysis[(rat1_analysis['frequency_cb'] < lower_bound) | (rat1_analysis['frequency_cb'] > upper_bound)]

In [ ]:
rat1_analysis = rat1_analysis[~((rat1_analysis['frequency_cb'] < lower_bound) | (rat1_analysis['frequency_cb'] > upper_bound))]

In [ ]:
rat1_analysis.info()

In [ ]:
# sns.heatmap(rat1_analysis.isnull(), cbar=False)

In [ ]:
missing_counts =   rat1_analysis.isnull().sum().sort_values(ascending = False)
percent = ( rat1_analysis.isnull().sum()*100/  rat1_analysis.shape[0]).sort_values(ascending = False)

In [ ]:
missing_rat1 = pd.concat([missing_counts, percent], axis = 1, keys = ['Counts', '%'])
print(f' Missing values: \n{missing_rat1}')

In [ ]:
rat1_analysis.columns

In [ ]:
# Drop the specified columns
columns_to_drop = ['incident_address','incident_zip', 'incident_zips','cross_street _1', 'cross_street_2','closed_date','due_date', 'intersection_street_1', 'intersection_street_2', 'address_Type', 'landmark', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'latitude', 'longitude', 'location','table_count', 'modztca', 'label', 'zcta', 'pop_est', 'create_date', 'close_date', 'frequency_cb']
rat1_analysis = rat1_analysis.drop(columns_to_drop, axis=1).reset_index(drop=True)

In [ ]:
# Reset the index and sort by 'unique_key' and 'created_date' in ascending order
rat1_analysis_sorted = rat1_analysis.sort_values(by=['created_date','unique_key'], ascending=True).reset_index(drop=True)

# Display the sorted DataFrame
print(rat1_analysis_sorted)

In [ ]:
rat1_analysis = rat1_analysis_sorted.reset_index(drop=True)

In [ ]:
missing_counts_ck =   rat1_analysis.isnull().sum().sort_values(ascending = False)
percent_ck = ( rat1_analysis.isnull().sum()*100/  rat1_analysis.shape[0]).sort_values(ascending = False)

In [ ]:
missing_rat = pd.concat([missing_counts_ck, percent], axis = 1, keys = ['Counts', '%'])
print(f' Missing values: \n{missing_rat}')

In [ ]:
rat1_analysis.info()

In [ ]:
# sns.heatmap(rat1_analysis.isnull(), cbar=False)

In [ ]:
rat1_analysis['city'] = rat1_analysis['city'].fillna('UNSPECIFIED')

In [ ]:
rat1_analysis.columns

###StandardScalor

In [ ]:
top_address_scale = top_address_counts.copy()

# Select numeric columns for scaling
numeric_columns = top_address_scale.select_dtypes(include=['int', 'float']).columns

# Scale the numeric columns
scaler = StandardScaler()
top_address_scale[numeric_columns] = scaler.fit_transform(top_address_scale[numeric_columns])

print(top_address_scale)

In [ ]:
sns.pairplot(address_zip)

In [ ]:
# Calculate the correlation matrix
correlation_matrix = top_address_scale.corr()

# Plot the correlation matrix as a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, cmap='coolwarm', annot=True, fmt='.2f', annot_kws={'fontsize': 10})
plt.title('Correlation Matrix')
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)
plt.show()

###MinMaxScaler

In [ ]:
top_address_counts.isnull().sum()

In [ ]:
top_address_scale2 = top_address_counts.copy()
top_address_scale2 = top_address_scale2.fillna(top_address_scale2.mean())

# Define data
data = top_address_scale2

# Define min-max scaler
scaler2 = MinMaxScaler()

# Transform data
scaled_top_address2 = scaler2.fit_transform(data)

print(scaled_top_address2)

In [ ]:
# Compute the correlation matrix
minmax_correlation_matrix = np.corrcoef(scaled_top_address2, rowvar=False)

print(minmax_correlation_matrix)

In [ ]:
plt.figure(figsize=(14, 6))
sns.heatmap(minmax_correlation_matrix, cmap='coolwarm', annot=True, fmt='.2f', annot_kws={'fontsize': 10})

plt.title('Min Max - Correlation Matrix')
plt.xticks(rotation=45)
plt.show()

because it looks pretty

# Exports

In [ ]:
# Export Selected Columns to CSV File
#column_names = ['', '','']
#df.to_csv("c:/tmp/courses.csv",index=False, columns=column_names)

# Writes Content to CSV File

###Print to file

In [ ]:
#df_top_addresses.to_csv("/content/drive/MyDrive/Projects/rats_analysis_application/Datasources/outputs_pandas/df_top_addresses.csv")

In [ ]:
#rat1.to_csv("/content/drive/MyDrive/Projects/rats_analysis_application/Datasources/outputs_pandas/rat1.csv")
# dsny1.to_csv("/content/drive/MyDrive/Projects/rats_analysis_application/Datasources/outputs_pandas/dsny1.csv")
#rat1_analysis.to_csv("/content/drive/MyDrive/Projects/rats_analysis_application/Datasources/outputs_pandas/rat1_analysis.csv")

In [ ]:

# output_file_path1 = os.path.join(output_directory, 'top_25_address_counts.csv')
# output_file_path2 = os.path.join(output_directory, 'top_address_counts.csv')
# output_file_path3 = os.path.join(output_directory, 'top_address_scale.csv')

# top_address_scale.to_csv(output_file_path3, index=False, mode='w')
# top_25_address_counts.to_csv(output_file_path1, index=False, mode='w')
# top_address_counts.to_csv(output_file_path2, index=False, mode='w')